[2016-06-21 00:27] bluemihai opened #2 "Unable to start using echo"
### Expected vs. Actual

I was attempting to follow the single-sign on link emailed to me to create an account.
### Steps to Reproduce

Chatting with Jeffrey, we think that the problem is that my spotty wifi disconnected, and something didn't get copied right.
### Environment and Versions

Chrome originally (also tried in FF, and in Rocket.chat+ app with same results)

[2016-07-01 18:11] matthewLG opened #3 "Chat window profile buggy when hovering"
![screen shot 2016-07-01 at 11 08 47 am](https://cloud.githubusercontent.com/assets/20246958/16530360/9c4b2f0e-3f7c-11e6-8842-b9573bfe3a65.png)
### Expected vs. Actual

_What were you attempting to do? What actually happened?_
### Steps to Reproduce

_How can you reproduce the bug? Include as much detail as you can._
### Environment and Versions

_What versions of relevant external software were y

[2016-07-01 18:12] matthewLG commented on #3
look at tanner

[2016-07-01 18:12] jrobcodes opened #4 "Info Panel Bug"
### Expected vs. Actual

Clicking on the group icon in the right toolbar, I expected to see a list of the people in the room.  I saw that list, but washed out, underneath SJ's information (which was the last piece of information I had viewed in the right info area). Image attached.
### Steps to Reproduce

Click on a user's icon to reveal the user information in the right hand toolbar.  Then, click

[2016-07-01 18:49] matthewLG commented on #3
also check out the Direct Message insect

[2016-07-01 18:55] jaredatron opened #5 "up in echo"
### Expected vs. Actual

i want to hit up in echo (rocket) and see my pervious command. every time. I got some way old command :(
### Steps to Reproduce

enter a command like `/vote 1 2`
hit up
you wont see that command
### Environment and Versions

n/a

[2016-07-01 18:58] bundacia opened #6 "Echo should post a message with the chosen project in the project channel on creation"

[2016-07-01 18:58] jrobcodes opened #7 "CPU Pinned and Chrome Tab Locked"
### Expected vs. Actual

After voting, tab was locked and preventing input.  I noticed that the CPU was pinned at 110% for a Chrome helper process, and 59% for the main Chrome process.  Image attached showing JS output at the same time.
### Steps to Reproduce

Use echo.
### Environment and Versions

![screen shot 2016-07-01 at 11 55 08 am](https://cloud.githubusercontent.com/assets/838110/16531831

[2016-07-01 19:02] heyheyjp opened #8 "Improve the new project welcome experience"
### Expected

Things I wanted to know immediately but had to go digging around for:
- name of the project being worked on
- link to the goal issue
- members of my team by full name
- a message telling me to check out my new project channel (or...can we automatically move users to the channel?)
### Actual Experience
- name of the project and link to goal issue felt "hidden" in tiny, light-colored f

[2016-07-01 19:08] carlabagdonas opened #9 "Echo feedback"
I'd like to be able to:
- vote with a comma, slash, or ampersand between numbers (6, 3) (6/3) or (6&3)
- vote for my two goals with two separate messages (i.e. /vote 6 (send) then /vote 3) instead of having to re-type them both in the same message

Voting:
- it wasn't clear to me whether i could use both votes for the same goal. when i tried to do it, i couldn't tell whether both votes had actuall

[2016-07-01 19:17] bundacia opened #10 "allowing a player to vote twice for the same goal is awkward and confusing"

[2016-07-01 19:54] heyheyjp commented on #10
@bundacia: especially since the new version of the algorithm makes no special consideration whatsoever for duplicate votes. :)

[2016-07-01 20:27] jeffreywescott commented on #2
This should now be fixed.

[2016-07-01 20:27] #2 closed, assigned to nobody

[2016-07-01 20:53] jrobcodes opened #11 "Typo in /review command"
### Expected vs. Actual

`/review --help`

Typo in Examples section: atrifact instead of artifact.
### Steps to Reproduce

type `/review --help` in echo
### Environment and Versions

_What versions of relevant external software were you using (browser, OS, etc.)?_

[2016-07-01 21:03] heyheyjp opened #12 "Review submission for invalid project (typo) results in unhelpful error message being displayed"
### Expected vs. Actual

**Expected:**
Expected an error message indicating that the project could not be found / was invalid.

**Actual:**
`Error:* Failed to save responses. Try`--help`for usage.`
### Steps to Reproduce

Submit a review that is valid in every way _except_ for the project name:

`/review misspelled-project -c 70 -q 70`
### Environment and Versions

Irrelevant.

[2016-07-01 21:07] heyheyjp opened #13 "Review scales feel too big"
### Expected vs. Actual

Expected: Something more reasonable. i don't need to be able to specify completeness and quality on a 100-point scale and am not sure I ever could with any sense of confidence in the accuracy and meaningfulness of the rating.

Actual: 100-point scales.

<img width="933" alt="screen shot 2016-07-01 at 2 04 39 pm" src="https://cloud.githubusercontent.com/assets/1890882/16534

[2016-07-01 21:08] heyheyjp opened #14 "Project names are cumbersome to remember and to type"
### Expected vs. Actual

Expected: Project names easy to type (or some help in typing them like autocomplete).

Actual: Project names like `exasperated-oystercatcher` that just feel like typo and frustration traps.
### Steps to Reproduce

Launch a cycle.
### Environment and Versions

Irrelevant.

[2016-07-01 21:19] jrobcodes opened #15 "Oddly Worded Log Question"
### Expected vs. Actual

When completing the retrospective via the `/log` command, the wording of one of the evaluation questions was odd:

[code]

Since I'm jrob, I'm not sure how to effectively answer this question.
### Steps to Reproduce
### Environment and Versions

[2016-07-01 21:22] bundacia opened #16 "When I type a command wrong I have to type THE WHOLE THING over"
I also can't look at what I just typed to see what was wrong.

[2016-07-05 14:21] bundacia commented on #14
Project names will tab-complete if you prefix them with a `#`. The commands that accept project name parameters accept them with or without that prefix, so one way to mitigate this would be to show the `#` in the command examples so people know they can type it that way. It's not perfect but it's a cheap way to get a little improvement.

![woxat861mo](https://cloud.githubusercontent.com/assets/189

[2016-07-05 14:56] bundacia commented on #6
Duplicate of #8

[2016-07-05 14:56] #6 closed, assigned to nobody

[2016-07-05 14:58] bundacia commented on #3
duplicate of ~~#3~~ #4

[2016-07-05 14:58] #3 closed, assigned to nobody

[2016-07-05 15:39] heyheyjp commented on #3
@bundacia: lol, wat? this is a duplicate of itself? :)

[2016-07-05 16:05] bundacia commented on #8
Issue moved to [LearnersGuild/game #219](https://github.com/LearnersGuild/game/issues/219) via [**ZenHub**](https://www.zenhub.com/)

[2016-07-05 16:05] #8 closed, assigned to bundacia

[2016-07-05 16:12] bundacia commented on #3
Doh! Duplicate of #4

[2016-07-05 16:21] jeffreywescott commented on #16
Duplicate of #5

[2016-07-05 16:21] #16 closed, assigned to nobody

[2016-07-05 16:24] jeffreywescott commented on #14
In light of @bundacia's comment, closing for now.

[2016-07-05 16:24] #14 closed, assigned to nobody

[2016-07-05 16:29] heyheyjp commented on #14
@jeffreywescott: not sure this has been fully addressed. @bundacia's workaround is GTK (now) but isn't intuitive. If we won't at least update echo to include this tip, can we put this issue someplace else so that we don't lose sight of it?

[2016-07-05 16:34] jeffreywescott commented on #14
I'm not sure I agree, @prattsj.The help text for the command implies that you should type a `#` when specifying project name. And if you do so, you get a drop-down with matching channel names. I'm not sure CLIs are ever "intuitive", though I do believe they should be consistent and should behave in a way that is "familiar" to other CLIs.

Remember -- we're building an interface for developers ...

[2016-07-05 20:47] jeffreywescott commented on #4
Should be fixed now.

[2016-07-05 20:47] #4 closed, assigned to nobody

[2016-07-05 23:56] jeffreywescott commented on #5
After investigating this for a while, it's not really fixable in a straight-forward way.

[2016-07-05 23:56] #5 closed, assigned to nobody

[2016-07-06 20:41] jrobcodes opened #17 "Profile Name Changing Bug"
### Expected vs. Actual

I changed my name on my profile page, and it introduced @mention artifacts.
### Steps to Reproduce
1. Go to My Account > Profile
2. Change the `Username` field (I changed to `jrob`, from `jrob8577`)
3. Save

At this point, the account name displayed in the upper left hand corner updates to `jrob`. Refreshing the page changes the avatar to my initials.  I had to log out and

[2016-07-06 22:12] carlabagdonas opened #19 "Suggestion: have this link open in a new tab"
From the welcome screen in Echo, have this link open in a new tab (instead of redirecting me away from Echo): https://github.com/LearnersGuild/los

[2016-07-06 22:14] carlabagdonas opened #20 "Multiple user names / handles for same person"
### Expected vs. Actual

_Noticing that people seem to have multiple user names within Echo (EthanStark, EthanJStark, EJStark, Thomas_Smith, TS22082) - super confusing! There should only be one if they have a single Github handle, right? Hard for me to tell which handle to use if I want to tag someone
### Steps to Reproduce

_How can you reproduce the bug? Include as much detail as you can._
### E

[2016-07-06 22:16] jrobcodes commented on #20
This is related to #17

[2016-07-06 22:17] carlabagdonas opened #21 "Unable to see certain people's photos"
### Expected vs. Actual

_When I click on these people's avatar photos, I see the large version pop up on the righthand side:
- Shereef
- NeEddra
- Mihai

_When I click on these people's avatar photos, the right panel opens, but there's no large version of the picture, just the button that says "conversation". I can't tell if the photo and name info are just being cut-off, higher on the page, or i

[2016-07-06 22:20] jeffreywescott commented on #21
Also related to https://github.com/LearnersGuild/los/issues/17

We need to disable the ability for people to mess with their profiles inside of echo. These bugs are all fallout from that.

[2016-07-06 23:28] jeffreywescott commented on #21
I've disabled the ability for people to modify their avatar or handle. Both will always be synchronized to whatever is in GitHub. I've also updated the username for any old messages that belonged to:
- EthanStark --> EthanJStark
- jaredatron --> deadlyicon
- jrob --> jrob8577
- Thomas_Smith --> TS22082

[2016-07-06 23:28] #21 closed, assigned to nobody

[2016-07-06 23:28] jeffreywescott commented on #17
I've disabled the ability for people to modify their avatar or handle. Both will always be synchronized to whatever is in GitHub. I've also updated the username for any old messages that belonged to:
- EthanStark --> EthanJStark
- jaredatron --> deadlyicon
- jrob --> jrob8577
- Thomas_Smith --> TS22082

[2016-07-06 23:28] #17 closed, assigned to nobody

[2016-07-06 23:29] jeffreywescott commented on #20
I've disabled the ability for people to modify their avatar or handle. Both will always be synchronized to whatever is in GitHub. I've also updated the username for any old messages that belonged to:
- EthanStark --> EthanJStark
- jaredatron --> deadlyicon
- jrob --> jrob8577
- Thomas_Smith --> TS22082

[2016-07-06 23:29] #20 closed, assigned to nobody

[2016-07-06 23:30] jeffreywescott commented on #7
I think this was related to a Gravatar bug we have since fixed. Please reopen if you see this happen again.

[2016-07-06 23:30] #7 closed, assigned to nobody

[2016-07-06 23:40] jeffreywescott commented on #9
We probably won't go this route because we're trying to maintain a more or less "standard" command-line interface that programmers will encounter in their day-to-day life.

The reason we didn't go this route was because we wanted a quick and easy way for players to express _which_ goal they prefer. So the left-most goal ID is the first choice. We may revisit this once we allow for more than 2 goal

[2016-07-06 23:40] #9 closed, assigned to nobody

[2016-07-06 23:41] jeffreywescott commented on #11
Fixed.

[2016-07-06 23:41] #11 closed, assigned to nobody

[2016-07-06 23:41] jeffreywescott commented on #10
Will be addressed by https://github.com/LearnersGuild/game/pull/240

[2016-07-06 23:42] jeffreywescott commented on #13
Passed onto UX team for consideration.

[2016-07-06 23:42] #13 closed, assigned to nobody

[2016-07-06 23:43] jeffreywescott commented on #12
Will be addressed by https://github.com/LearnersGuild/game/pull/239

[2016-07-06 23:45] jeffreywescott commented on #19
Great idea. Done.

[2016-07-06 23:45] #19 closed, assigned to nobody

[2016-07-07 18:18] tannerwelsh opened #22 "Many commands should notify other people besides issuer"
### Expected vs. Actual

_What were you attempting to do? What actually happened?_

Issuing `/project set-artifact ...` should notify the rest of the team that this has been set, as an example. Other commands should be reviewed to ensure that proper notifications are sent.
### Steps to Reproduce

_How can you reproduce the bug? Include as much detail as you can._
### Environment and Versions

_Wha

[2016-07-07 18:18] tannerwelsh commented on #22
Thanks @deadlyicon for noticing

[2016-07-07 18:41] jaredatron opened #23 "role contextualized `/help` command"
echo commands are hard to learn about and use. a `/help` command that looks at your roles and gives you some examples of commands you'll need to know.

[2016-07-07 18:42] jaredatron opened #24 "Is there a way to see the artifact for a project once it has been set?"
how do you see the artifact once someone sets its? when its set should the channel be notified?

[2016-07-07 18:43] bundacia commented on #24
workaround: `/review #project-name` will show you the artifact

[2016-07-07 23:07] jeffreywescott commented on #10
Fixed.

[2016-07-07 23:07] #10 closed, assigned to nobody

[2016-07-07 23:07] jeffreywescott commented on #12
Fixed.

[2016-07-07 23:07] #12 closed, assigned to nobody

[2016-07-08 13:45] heyheyjp opened #25 "Staging environment?"
Now that we're up and running in prod (🎉), should we set up a shared dev/staging environment?

`https://echo-staging.learnersguild.org`

[2016-07-08 14:58] bundacia opened #26 "It's not always clear which echo messages are private vs public"
### Expected vs. Actual

I expect it to be clear when @echo says something in chat whether it's a private message just for me or something posted to the whole channel. In practice, if echo send multiple consecutive messages you'll only see the "only you can see this message" on the first one. The rest just get added below.

<img width="542" alt="rocket_chat" src="https://cloud.githubusercontent.co

[2016-07-08 16:09] jeffreywescott commented on #25
Let's definitely talk about this. In general, I am 1000% against staging environments as a concept (continuous delivery #ftw -- happy to explain my reasoning), but I _am_ in favor of the idea of getting our development and production environments as sync'ed as possible. IMO, the best approach to this is to Docker-ize our setup. Let's discuss along with the rest of the "non-user-facing" stuff we wa

[2016-07-08 17:09] heyheyjp opened #27 "Nicer formatting in project channel welcome message"
Can we make the formatting any nicer/cleaner here? The amount of effort it took to parse the important information message felt a bit too high..

<img width="789" alt="screen shot 2016-07-08 at 10 06 32 am" src="https://cloud.githubusercontent.com/assets/1890882/16695317/fc4364ae-44f3-11e6-91ae-770f400f364e.png">

[2016-07-11 18:25] bluemihai opened #28 "Suggested feature: show user's full name on hovering over username"
As a new user, I would like to quickly know who posted what (even before I memorize everybody's github/username), so that I can feel a part of an actual community and engage fully with a minimum of frustration.

The best way I can think of is showing the full name on hovering over the username... either in a message window (currently no hover text) or in direct messages (currently hover text is ju

[2016-07-11 22:16] heyheyjp opened #29 "Only import the default/primary email address from a user's github account"
My echo profile has every email address associated with my GitHub account, which is unnecessary and perhaps confusing for folks who'd want to send me an email. Most of them are linked only for work on a specific org's repos. My expectation here would have been that only my default/primary email address is imported from GitHub and is shown in my Echo profile.

[2016-07-11 22:18] jeffreywescott commented on #29
Fair point. In IDM, we allow the user to save their preferred address, and change it later (via the `/profile` command), but there's no need to pull all the info into echo.

[2016-07-12 17:18] heyheyjp opened #30 "Inifinite loop on signup attempt"
from @shereefb:

video screen cap:
http://screencast.com/t/Ws70lHbz

expected:
- visits `echo.learnersguild.org`
- redirected to idm sign in page
- clicked button to authenticate using github
- redirected **back** to echo and able to use the chat app

actual:
- visits `echo.learnersguild.org`
- redirected to idm sign in page
- clicked button to authenticate using github
- lands on the idm profile

[2016-07-12 18:59] jeffreywescott commented on #30
This happened because @tannerwelsh and @shereefb were in the `player` role but didn't have a corresponding record in the `players` table in game. We should recover gracefully from this.

[2016-07-12 23:21] harmanTheCarMan opened #31 "Text I type does not wrap to the next line, it continues off the screen."
### Expected vs. Actual

_What were you attempting to do? What actually happened?_
### Steps to Reproduce

_How can you reproduce the bug? Include as much detail as you can._
### Environment and Versions

_What versions of relevant external software were you using (browser, OS, etc.)?_

[2016-07-12 23:40] harmanTheCarMan commented on #31
Expected to wrap text. Text continued off screen.
Reproduce by resizing the browser window so that the window may be 2/3 of the screen, then type your response. Environment: mac, google chrome, 2/3 of screen used on large desktop monitor.

[2016-07-13 16:36] heyheyjp opened #32 "Ability to add/remove a player to/from a team"
Use cases:
- a player was unavailable at the time of project formation and needs to be added to a project's team after it's been formed
- a moderator isn't satisfied with the automatic formation outcome and wants to move one or more players on a team to another team

[2016-07-15 00:57] carlabagdonas opened #33 "Hard to see message numbers in Echo"
The numbers in Echo are hard to see - much harder than the numbers in Slack. Not sure if it's about the color combo, or the size, but it's hard for me to figure out how many messages are pending my reading at a quick glance.

For that matter, the channel names seem harder to read as well, and it's harder to tell when there's a new message in a channel (when it's bolded). All these comparisons are

[2016-07-15 21:13] carlabagdonas opened #34 "Learners not automatically added to / notified about private group"
### Expected vs. Actual

_Created a private group in Echo for people who borrowed laptops from LG -> "lg-laptops". Added a bunch of learners and sent a few messages, but no one responded. I thought folks would be automatically added to the group and notified that they had messages waiting there, but looks like they have to actually search the private channels and opt in, in order to see the messag

[2016-07-18 16:52] EthanJStark opened #35 "Multi-line comment key-combo reccomendation"
### Expected vs. Actual

Wanted to make a new line in a multi-line comment.
Expected to use same key combo of iMessage and FB chat, option + return
Actually: have to do shift+return

Recommendation to shift to the option+return used elsewhere
### Environment and Versions

Chrome, MacOS

[2016-07-18 16:57] jeffreywescott opened #36 "consider showing the players real name and avatar in the retrospective feedback form"
(suggested by @deadlyicon)
### Expected vs. Actual

I'd expect to see people's real names.
### Steps to Reproduce

`/retro`
### Environment and Versions

All.

[2016-07-18 16:58] jeffreywescott opened #37 "the sliders in the retro form are too small to increment 1% at a time"
(reported by @deadlyicon)
### Expected vs. Actual

I wanted to adjust someone's relative contribution by 1%, but couldn't because the sliders were too small.
### Steps to Reproduce

`/retro`
### Environment and Versions

@deadlyicon -- please update this with which client / os you used? Native app? Chrome?

[2016-07-18 19:01] sydroth opened #38 "Echo API for projects"
Tanner suggested I submit this here- for projects that require learners data, we were wondering if there's an ECHO api we can use to get basic data. In this case, we want to know which learners have completed which projects.

[2016-07-18 19:18] EthanJStark commented on #38
I would also very much like to have access to an Echo API; very relevant to a project that 11 of us are working on. Thanks, Echo team!

[2016-07-18 19:42] devonwesley commented on #38
I third this

[2016-07-22 21:58] phoniks opened #39 "Provide a way to see all your /review states w/ one command"
### Expected vs. Actual

_What were you attempting to do? What actually happened?_

While reviewing projects, I found myself wanting to be able to type "/review -a" to get a list of all the projects and their current status.
### Steps to Reproduce

_How can you reproduce the bug? Include as much detail as you can._

No bug, just a suggestion.
### Environment and Versions

_What versions of relevan

[2016-07-23 00:39] heyheyjp opened #40 "Reverse the order of cycle end/start announcements"
**Expected:**
Announcement that cycle N has been completed followed by the announcement that cycle N+1 has started and voting is open.

**Actual:**
Announcement that voting has begun for cycle N+1 followed by announcement that cycle N has ended.

**Screecap:**
<img width="606" alt="screen shot 2016-07-22 at 5 37 36 pm" src="https://cloud.githubusercontent.com/assets/1890882/17074681/31790eea-5033-

[2016-07-23 14:05] bluemihai commented on #37
+1 for me with both Chrome and Rocket.chat

[2016-07-23 14:14] bluemihai opened #41 "Bind up arrow to command history"
### Expected vs. Actual

When reviewing or voting, I often hit the up arrow expecting to see and edit my last command.
I didn't even realize what happened until I just tried it again to reproduce this bug...  What does happen is that I see my past messages come up and I can cycle through them.

I would expect that the up arrow **only** bring back my commands...  but I rarely if ever have a need to

[2016-07-25 18:09] jeffreywescott commented on #15
Closing since these questions no longer appear. Once https://github.com/LearnersGuild/game/issues/281 is complete, we will have questions related to reflecting on "self".

[2016-07-25 18:09] #15 closed, assigned to nobody

[2016-07-25 18:09] jeffreywescott commented on #22
Closed as part of https://github.com/LearnersGuild/game/issues/247

[2016-07-25 18:09] #22 closed, assigned to nobody

[2016-07-25 18:10] jeffreywescott commented on #25
Issue moved to [LearnersGuild/echo-chat #47](https://github.com/LearnersGuild/echo-chat/issues/47) via [**ZenHub**](https://www.zenhub.com/)

[2016-07-25 18:10] #25 closed, assigned to nobody

[2016-07-25 18:12] jeffreywescott commented on #29
Closed, as per https://github.com/LearnersGuild/rocketchat-lg-sso/issues/35

[2016-07-25 18:12] #29 closed, assigned to nobody

[2016-07-25 18:12] jeffreywescott commented on #30
Closed as per https://github.com/LearnersGuild/rocketchat-lg-sso/issues/32

[2016-07-25 18:12] #30 closed, assigned to nobody

[2016-07-25 18:15] jeffreywescott commented on #38
This is a great idea, and something we definitely hope to provide in the future.

[2016-07-25 18:18] jeffreywescott commented on #41
@bluemihai -- thanks for this suggestion! **TL;DR** -- as much as we'd like to support this, the underlying Rocket.Chat architecture makes it prohibitively difficult.

#### More Detail

Essentially, there is a table that stores messages, but none that stores `/slash` commands; they are ephemeral.  If we were to support this, we'd need to make huge deviations from Rocket.Chat mainline, which (for m

[2016-07-25 18:18] #41 closed, assigned to nobody

[2016-07-26 00:28] jeffreywescott commented on #37
This should have been addressed with the most recent deploy of echo. Please re-open if it comes up again.

[2016-07-26 00:28] #37 closed, assigned to nobody

[2016-07-29 22:21] jaredatron opened #42 "changing goal issue name during voting splits votes"
### Expected vs. Actual

votes should be based on issue number not name
### Steps to Reproduce
1. vote for a goal issue
2. change the goal issue name
3. have someone else vote for the same issue number
4. see how votes are split
### Environment and Versions

chrome

[2016-07-29 22:21] prattsj commented on #42
This doesn't make sense. Votes _are_ based on the issue number. :/

[2016-07-30 00:16] heyheyjp commented on #42
Seems to be just a rendering issue. Votes are ultimately counted by goal ID when it comes to forming projects, but when displaying voting results in the flex panel, they're grouped by url and title/name.

[2016-08-02 16:20] jaredatron opened #43 "Professional players never get what they vote for"
### Expected vs. Actual

I want to get the projects I vote on.
### Steps to Reproduce
1. Be a professional player
2. Vote for projects
3. Never get on those projects
### Environment and Versions

LOS v1.1?

[2016-08-02 16:24] jaredatron opened #44 "cannot close echo panel"
### Expected vs. Actual

![](https://dl.dropboxusercontent.com/u/1090585/survey%20could%20not%20be%20loaded.png)
### Steps to Reproduce

you cannot close the window that comes up with you try and retro a team you're not on
### Environment and Versions

chrome

[2016-08-02 16:26] jaredatron opened #45 "include "quality" section to goal template"
### Expected vs. Actual

what does quality mean? I think reviewing players need some guidelines about what quality means for the project.

[2016-08-02 16:29] heyheyjp commented on #44
@deadlyicon: if you dismiss the alert at the bottom and try closing it, does that work?

[2016-08-02 17:23] jeffreywescott commented on #44
This is an overall UX fail. I think we need a tab on the RHS that can open / close all of our panels.

A workaround is to type `/profile` 2-3 times, because `/profile` does toggle rather than open.

[2016-08-02 17:25] jeffreywescott commented on #43
Related: https://github.com/LearnersGuild/learning-os-software/issues/148

[2016-08-02 17:26] jeffreywescott commented on #45
Would you expect this to come from the command help or the moderator? It seems like we might want this to be somewhat flexible depending on the type of game being played (e.g., LOS may eventually be used for enrollment games). WDYT?

[2016-08-02 17:38] heyheyjp commented on #44
I don't disagree, but there's also just something weird that's up with this snackbar behavior. They always prevent interaction with the window, and I think this is a bug in react-toolbox.

[2016-08-02 17:38] heyheyjp commented on #44
https://github.com/react-toolbox/react-toolbox/issues/178

[2016-08-02 17:39] jeffreywescott commented on #44
Yeah ... good point.

In this case, though, there's no option to close the panel within the page, so ...

[2016-08-02 17:40] heyheyjp commented on #44
Ah, that's true. Guess we could add a Close button. :)

[2016-08-02 18:35] jeffreywescott commented on #44
Yeah ... definitely.

[2016-08-05 21:16] jaredatron opened #46 "I never know how to answer this quetion"
I never know how to answer this question:

[code]

What does better mean? Does it mean:
- i learned something?
- they inspire me?

I'm unclear about this so I always but "agree" or "somewhat agree" so I'm probably not giving useful feedback.

[2016-08-05 22:59] phoniks opened #47 "Trouble setting artifact"
### Expected vs. Actual

I _think_ I followed the instructions correctly to set the artifact for our project at the beginning of the week, but when it came time to review projects the artifact did not appear to be set.  When attempting set them again at the end of the week I encountered the following error:

<img width="973" alt="screen shot 2016-08-05 at 3 53 00 pm" src="https://cloud.githubuserc

[2016-08-05 23:06] phoniks commented on #47
Shareef suggested removing the https and using normal http and that seems to have overcome the problem.

[2016-08-08 16:10] jaredatron opened #48 "provide a way to see who has not yet voted"
### Expected vs. Actual

The moderator does not know who has yet not voted. Can you please add something like:

`/cycle who-has-not-voted`

Thanks!

[2016-08-08 16:13] jaredatron opened #49 "vote list sort order based on 1st and 2nd vote"
### Expected vs. Actual

right now it looks like some projects have more votes but when the #1 item has the largest number of votes based on 2nd votes it could, and has, mislead the voting and the final chosen projects were in the 2nd and 3rd position.

Is there anyway to update the life voting list with sorting based on 1st and 2nd votes?

[2016-08-12 17:14] harmanTheCarMan opened #50 "Badass Project Review Updates!"
### Expected vs. Actual

_What were you attempting to do? What actually happened?_
I was trying to review projects at the end of the cycle. I was able to review projects but it was hard to keep track of all of the projects which I had reviewed and which I still needed to review for the week.

I was expecting it to be easy to search for my output in the echo chat to see which groups I had voted for

[2016-08-12 17:23] heyheyjp commented on #50
Would like to take a bit more time to really digest it all but wanted to say quickly that this is great, @harmanlearns. Thank you!

/cc @shereefb @tannerwelsh

[2016-08-12 18:06] jeffreywescott commented on #50
This is awesome, @harmanlearns ... also, have you seen `/project list -r`?

[2016-08-12 18:58] harmanTheCarMan commented on #50
Yes I have! I believe James Stewart mentioned it around the time I believe you added it. It also works as a hack :) This issue had actually started to be written before that was implemented and even before the last voting session where we only voted on one main project and our own project so it was easier to track. However I still wanted to submit this as an issue if were to continue reviewing as

[2016-08-12 20:54] nicosesma opened #51 "Echo /project set-artifact BUG -Can't Set BUG Label on Issue"
### Expected vs. Actual

I was trying to set the artifact for the group project before the review cycle began but I got an error message that read:
/project set-artifact #ashamed-opossum https://github.com/rachel-ftw/LG-simple-JS-library
_Error:_ [object Object]

When I tried to see if I could review the project I was met with the same error message:
/review #ashamed-opossum
_Error:_ [object Objec

[2016-08-12 21:31] shereefb opened #52 "Allow moderator to see project lists"
`/project list -r` doesn't work for me as moderator

[2016-08-13 21:03] harmanTheCarMan opened #53 "Github username change issue"
### Expected vs. Actual

_What were you attempting to do? What actually happened?_
I changed my github username to match my email and website. It caused echo to have issues in terms of private groups and having the same permissions as a user in channels.

I can not see any of the previous private channels and no more gear icon next to a post in certain channels.
### Steps to Reproduce

_How can yo

[2016-08-13 21:07] harmanTheCarMan commented on #44
What I have done in this situation is clicked on a different "tab" on the sidebar i.e. users tab and then clicking it again causes it to close. Sort of a workaround. @deadlyicon

[2016-08-13 21:09] harmanTheCarMan commented on #46
I do the same and a part of it became a mix of how much they helped me with interpersonal skills as well...

[2016-08-15 11:55] jeffreywescott commented on #53
Thanks for reporting this, @harmanlearns. Is this blocking you from being able to work / collaborate (trying to prioritize)?

[2016-08-15 11:56] jeffreywescott commented on #52
Assuming you mean `/project list -r`, right?

[2016-08-15 11:57] jeffreywescott commented on #51
This has now been fixed. We are also working on better error messages.

[2016-08-15 11:57] #51 closed, assigned to nobody

[2016-08-15 12:00] jeffreywescott commented on #49
@prattsj, is it universally true that people's 1st votes take precedence over their 2nd? @deadlyicon points out a confusing UX issue where the _total_ number of votes (which is how things are sorted) can be misleading and cause people to vote differently.

[2016-08-15 12:02] jeffreywescott commented on #47
I believe this has been fixed. We're also working on better error messages.

[2016-08-15 12:02] #47 closed, assigned to nobody

[2016-08-15 12:02] jeffreywescott commented on #46
@shereefb -- is this something we want to address in software or moderation?

[2016-08-15 12:03] jeffreywescott commented on #45
@shereefb is this something that should be addressed in software or moderation?

[2016-08-15 12:04] jeffreywescott commented on #39
Thanks for reporting this, @phoniks ... have you tried `/project list -r`?

[2016-08-15 12:24] jeffreywescott commented on #24
Closing: use `/project list -r`

[2016-08-15 12:24] #24 closed, assigned to nobody

[2016-08-15 13:37] harmanTheCarMan commented on #53
@Jeffrey: This is not blocking me from working right now. I can send and receive messages.

This can be fixed  when there is time available. I mainly cannot:

-react to messages
-edit messages after sending on some channels
-access private channels

Thanks!

[2016-08-15 13:41] jeffreywescott commented on #53
Related: https://github.com/RocketChat/Rocket.Chat/issues/3545

[2016-08-15 20:15] heyheyjp commented on #49
@jeffreywescott @deadlyicon: I think we should move away from displaying the number of votes altogether. A better experience might be to just basically run the project formation algo (or some subset of it) to simply show goal group ranking rather than the awkward and confusing vote counts.

[2016-08-15 20:18] heyheyjp commented on #49
Not sure what you mean by taking precedence exactly. We attempt to accommodate their 1st choice before attempting to accommodate their 2nd, of course, but both are subject to dismissal if they don't shake out to be for the most popular votes.

[2016-08-15 20:23] bundacia commented on #49
Seems like total vote count is still the best indicator of what the "most popular" goals are. The algorithm just takes into account more than popularity. Maybe the solution here is just to figure out a way to communicate that these "votes" are suggestions for what to work on, not an election where the voice of the people is king. Maybe we need to stop calling them votes and start calling them "pre

[2016-08-16 06:31] jeffreywescott commented on #49
@tannerwelsh, fearless in his game mechanics and `ux` roles, foresaw this confusion: https://github.com/LearnersGuild/game/issues/390

[2016-08-16 07:30] shereefb commented on #45
We now have a quality rubric as part of the issue metric.
The definition of quality is meant to be ambiguous so that teams take the effort to define it at the beginning of their learning goal.

@deadlyicon is this still an open issue for you?

[2016-08-16 07:31] shereefb commented on #46
I'll bring it up in moderation next friday and see how people respond. Stay tuned.

[2016-08-16 07:32] shereefb commented on #52
yes please.

[2016-08-16 19:55] harmanTheCarMan commented on #53
Should I try to change my username on github back to previous then change to new one again?

[2016-08-16 20:04] bundacia commented on #53
@harmanlearns, yeah, I think that should get you all fixed up, if you don't mind jumping through those hoops.

[2016-08-16 22:50] harmanTheCarMan commented on #53
@bundacia @jeffreywescott I appreciate all of your guys' help! It works now and I believe this issue can be closed :)

[2016-08-16 22:56] #53 closed, assigned to nobody

[2016-08-18 14:30] jeffreywescott commented on #52
Should be live.

[2016-08-18 14:30] #52 closed, assigned to nobody

[2016-08-22 16:26] Moniarchy opened #54 "Problem Setting Artifact"
### Expected vs. Actual

I was trying to set an artifact and received an error message instead. (Error:\* Cannot convert OBJECT to SEQUENCE in:
r.table("projects").filter(function(var_13) {
return var_13("name").eq("tangy-paca").and(var_13("cycleHistory").concatMap(function(var_14) {
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
return var_14("playerIds")
^^^^^^^^^^^^^^^^^^^^^^^^^^
}).contai

[2016-08-22 16:38] heyheyjp commented on #54
Thanks, @Moniarchy! We'll take a look.

[2016-08-22 17:17] jaredatron opened #55 "`/project list -r` error"
### Expected vs. Actual

command: `/project list -r`
results:`Error:* There is no projectReview survey for this project and cycle`

I'd like to be able to see all projects, their members and their artifact in one consistent place. Bonus points if I can be in a team channel and just type `/project` to get a nice sidebar with said info.
### Steps to Reproduce

_command: `/project list -r`
results:`E

[2016-08-22 21:54] jeffreywescott commented on #54
@Moniarchy -- would you please give it another try? It should be fixed, we believe. Please re-open if not.

[2016-08-22 21:54] #54 closed, assigned to nobody

[2016-08-22 22:36] tannerwelsh opened #56 "Notify facilitators when extra support might be needed"
Although we're looking at learner stats every Friday with the crew, it'd be extremely helpful to avoid manually tracking whether a learner's stats are consistently declining, and instead by automatically notified when stats consistently decline.

The alert will help us know when to intervene/schedule a talk with the learner so they're aware that they need to right the ship.

Also, we want to make

[2016-08-23 05:01] heyheyjp opened #57 "Archive project channels for completed projects"
### Expected vs. Actual

Expected: of the channels created specifically for project teams, only the ones for still-active projects remain listed in the left panel. All others have been archived.

Actual: channel list grows and grows... :/
### Steps to Reproduce

Look at the channel list in echo. We're only half-way through cohort 1! :) So many channels. :-l

[2016-08-25 13:42] tannerwelsh opened #58 "Consider weighting learning feedback differentially based on XP"
_from @carlabagdonas, via Asana:_

What if "learning support" evals for folks on the higher side of XP differential were weighted more strongly than those on the lower side of the differential (i.e. if i have an XP of 100 and you have an XP of 50, my learning support score for you is weighted less strongly than yours of me - it's my job as a person with higher XP to provide more learning support)

[2016-08-25 17:10] jaredatron opened #59 "how can green leaners support a professional player in their learning?"
### Expected vs. Actual

I have yet to feel like a green learner has supported me in their learning. So I always say "agree" / middle of the road. I feel like this is not useful feedback. It seems unreasonable to expect our current learners to support me in my learning. The knowledge delta is just too great right now.

I'd like to feel like I am giving useful feedback and in its current form this

[2016-08-25 17:13] jaredatron opened #60 "How can a pro player stay away of relative contribution when I'm only present 10% of the overall project work time?"
### Expected vs. Actual

As a SEP on an average of 3-4 teams at a time; How can I give an accurate relative contribution estimate when I am only present for my team part of the time?
### Steps to Reproduce

1) Be a programmer for 15 years
2) Play the LOC
3) Guess how much your team mates contributed based on gut
4) Feel guilty

CC: @carlabagdonas

[2016-08-26 21:05] Moniarchy opened #61 "Could Not Start Retros"
### Expected vs. Actual

Attempting to start retro for this cycle, got an error "Error: There is no cycle in the REFLECTION state for this chapter"
### Steps to Reproduce

Type /retro and press enter.
### Environment and Versions

Using echo on Google Chrome.

[2016-08-26 21:40] heyheyjp commented on #61
Thanks for the report, @Moniarchy. All should be well now.

[2016-08-26 21:40] #61 closed, assigned to nobody

[2016-08-29 17:48] jaredatron opened #62 "Constantly signing into echo"
### Expected vs. Actual

I don't want to have to sign in every day. Can our sessions last longer?
### Steps to Reproduce
1. Use echo for more than 24 hours
2. Login via Github!

[2016-08-29 20:14] prattsj commented on #62
Really hard to click one button? 😛

[2016-08-30 16:12] heyheyjp opened #63 "State of team composition is difficult to track"
There are many good reasons why players and moderators might want to know the current state of project team composition, but the system provides them no ability to do so using Echo.

[2016-09-02 21:54] needdra opened #64 "Correlating ZPD for a project to player ELO & XP"
James asked the following: Can we create a way to correlate ZPD reporting for a project to player ELO rating and XP? Such that someone looking at the project can assess project difficulty based on their XP and ELO rating relative to what the other player reported?

The idea is that learners will be better able to assess project difficulty by considering their XP and ELO rating relative to that of

[2016-09-02 22:06] needdra opened #65 "ZPD Reporting"
where is ZPD data going to be stored and will it be visible to guild members?

[2016-09-03 00:23] heyheyjp opened #66 "Project review submission posts are excessive"
Maybe let's not do this...

---

<img width="551" alt="screen shot 2016-09-02 at 5 22 33 pm" src="https://cloud.githubusercontent.com/assets/1890882/18221430/f83a3ba2-7131-11e6-8627-27d193cf99d0.png">

---

If every player is submitting a review for every project, that's [num_players x num_projects] notifications. That's cray, and I'd be surprised to learn that anyone is finding these messages ver

[2016-09-03 00:29] prattsj commented on #66
If every player is submitting reviews for every project, that's [num_players x num_projects] notifications. That's cray, and I'd be surprised to learn that anyone is finding these messages very useful, anyway. :) Definitely more noise than signal at this point.

[2016-09-06 05:44] carlabagdonas opened #67 "Private channels don't automatically add members"
### Expected vs. Actual

I've noticed that when I create a private channel, even though I invite people to it, it won't show up in their channel sidebar unless they search for the channel within private channels, or unless I tag them in the channel. I think ideally, if you create a private channel with a group of people, it should automatically show up in their sidebar menu. i.e. it should "pull t

[2016-09-06 15:45] jeffreywescott commented on #67
Duplicate of #34. Closing.

[2016-09-06 15:45] #67 closed, assigned to nobody

[2016-09-07 18:01] carlabagdonas opened #68 "Request: limit new user permissions (for inviting new cohort)"
### Expected vs. Actual

We'd like to be able to invite the new cohort to Echo a couple of weeks out from their cohort start date, without having them "wandering the halls" and distracting other learners. Ideally, they'd be confined to the #Welcome channel, so they can introduce themselves and engage with one another in a single location, and current learners can come visit them there, but they wo

[2016-09-10 16:53] carlabagdonas opened #69 "Make avg completeness and quality scores transparent for each cycle"
### Expected vs. Actual

Two learners were trying to understand their weekly XP gain of ~12 and ~7 XP points, respectively. We wanted to just do the math to calculate XP gain for the week: (Total Hours \* C \* Q) \* Actual Contribution, and we have all the variables except for Completeness and Quality scores.

In this case, the players' XP gains did not make sense, based on the information we have

[2016-09-19 20:28] heyheyjp opened #70 "Misleading "invalid invite code" errors"
Invite code is valid. Suspecting that the issue is actually related to mismatching github and CRM (hubspot) email addresses (see errors in server logs).

On a follow-up attempt to just log in via github, new users are able to get into echo.

To repro: unsure. try signing up with an email address that doesn't match anything in the crm.

[2016-09-20 10:42] jeffreywescott commented on #70
I don't see anything in the server logs for this. :-(

[2016-09-21 19:22] carlabagdonas opened #71 "Feature request: Echo search based on IRL names"
### Expected vs. Actual

_It's hard for me to search for specific learners if I need to send them a DM because I don't know everyone's Github handles. It would be great if I could search by a learner's IRL name, but Echo would pull up their GH handle. Low-tech / short-term fix would be to get a spreadsheet / list of github handles corresponding to IRL names._
### Steps to Reproduce

_How can you r

[2016-09-21 19:38] carlabagdonas opened #72 "Feature request: @mention sub-groups of learners"
### Expected vs. Actual

_Sometimes I might want to alert a sub-group of learners: e.g. Pod 2's home group, or all of the July cohort learners, or just the folks on a particular team. I'd love to be able to @mention sub groups of people instead of having to write their names individually. It's kind of like an email distribution list_
### Steps to Reproduce

_How can you reproduce the bug? Include

[2016-09-21 20:00] bundacia commented on #72
@carlabagdonas, maybe this is something we can solve (or work around) with channels? We could have a separate channel for each cohort or pod. Teams already have their own channel so you can just post messages there if you want to notify a particular team.

[2016-09-23 23:41] EthanJStark opened #73 "Others' project reviews showing up briefly on echo Oakland channel"
### Expected vs. Actual

Expecting others' project reviews to be private and not publicly visible.
In actuality, as another individual (Harmanlearns and some others) entered a review, it was visible in the Oakland channel for a matter of 5 seconds or so.
### Steps to Reproduce

Not easy; try having others' vote in a testing environment and observing the channel they're voting on.
### Environment a

[2016-09-23 23:58] Compsight opened #74 "'Learning Support' stat on 'RETROSPECTIVE RESULTS'"
### Expected vs. Actual

Expecting to see technical skill percentage VS seeing Learning Support at the bottom of the RETROSPECTIVE RESULTS that are delivered to players after all team members have completed their retros.
### Steps to Reproduce

When answering the last question about technical skills of your teammate, this question gets returned as the Learning Support percentage on the RETROSPECTI

[2016-09-26 16:40] harmanTheCarMan opened #75 "Echo Https does not work"
### Expected vs. Actual

_What were you attempting to do? What actually happened?_
I went to https://echo.learnersguild.org/ and I got the chrome error for https.
https://aboutssl.org/wp-content/uploads/2016/03/ERR_CERT_COMMON_NAME_INVALID-chrome-error.png

I am logged into github already.
### Steps to Reproduce

_How can you reproduce the bug? Include as much detail as you can._
Go to https://ech

[2016-09-27 15:08] heyheyjp opened #76 "Stricter full name validation for player profiles"
I can't tell who some people are IRL because in their profile they've entered a "full name" that doesn't match the name they go by IRL (most often it's just their game handle instead). We need either better messaging around what this value is expected to be or perhaps tighter integration with a system where we've already collected their IRL name and can use it to prepopulate the field.

[2016-09-30 21:51] heyheyjp opened #77 "Error messaging in retro survey UI is cray"
User (mikeaddossi) clicked the submit button on a retro survey page and got an unexpected error message.

Two issues:

1) survey button should have been disabled to begin with (missing client-side validation)
2) the error message should've been more helpful :)

_Screen shot_
<img width="432" alt="screen shot 2016-09-30 at 2 44 31 pm" src="https://cloud.githubusercontent.com/assets/1890882/19008020

[2016-09-30 23:20] carlabagdonas opened #78 "Add qualitative feedback to quality / completeness evals"
### Expected vs. Actual

_Learners should be using project reviews as an opportunity to review code and make a thorough, thoughtful assessment of the project's completeness and quality. Let's add an open-response field to project reviews in which they have to comment on both the quality of the code itself as well as the front end / user design & experience_
### Steps to Reproduce

_How can you rep

[2016-09-30 23:21] carlabagdonas opened #79 "Add accountability / teeth to review completion"
### Expected vs. Actual

_Learners need to complete a minimum number of reviews per cycle, and there should be some accountability measure in place to make sure that happens_
### Steps to Reproduce

_How can you reproduce the bug? Include as much detail as you can._
### Environment and Versions

_What versions of relevant external software were you using (browser, OS, etc.)?_

[2016-09-30 23:28] carlabagdonas opened #80 "Remove project review updates from Echo channel"
### Expected vs. Actual

_There's a lot of noise in the Oakland channel whenever a retro cycle is open because there's an update message posted every time a project gets reviewed. Can these be tracked / aggregated elsewhere (sidebar? separate channel?) or at least just not posted in the main channel._
### Steps to Reproduce

_How can you reproduce the bug? Include as much detail as you can._
### E

[2016-10-01 00:11] carlabagdonas opened #81 "Ensure players get a clear error message if their votes are not counted"
### Expected vs. Actual

_Some people still seem confused about whether their votes are going through / being counted. Today someone voted in the following format: /vote #45 #32 (with hashtags), so their votes didn't count, but they didn't get a clear message back indicating this. I think it said something like, "validating votes..." but they should get a clear error message / response to the effe

[2016-10-01 00:13] harmanTheCarMan opened #82 "Add project repo from current project into original goal"
### Expected vs. Actual

I want to show new peeps
### Steps to Reproduce

_How can you reproduce the bug? Include as much detail as you can._
### Environment and Versions

_What versions of relevant external software were you using (browser, OS, etc.)?_

[2016-10-04 13:37] heyheyjp opened #83 "Project repos in GuildCrafts org"
Not having a central, public place to hold project artifacts (most especially the code) puts most team members (and anyone else who might be interested in referencing artifacts later) at a disadvantage.

Currently, one team member creates a repo under their own personal account.

Instead, the system should automatically create a repo for the project (using the unique auto-generated name) under the

[2016-10-04 15:38] jaredatron opened #84 "a user can find a personal by real human name in echo"
I have a hard enough time remembering everyones names but now I need to know their handle too to find them in echo.

[2016-10-04 16:07] heyheyjp commented on #84
Duplicate of https://github.com/LearnersGuild/los/issues/71.

[2016-10-04 16:07] #84 closed, assigned to nobody

[2016-10-04 17:33] jeffreywescott commented on #82
Hi, @harmanlearns. I'm not sure I understand what this suggestion is. Can you elaborate?

[2016-10-04 17:39] jeffreywescott commented on #78
@carlabagdonas, I wonder if it wouldn't make more sense for the comments about the code to appear in GitHub _right next to_ the code. This is how most software teams do it. Thoughts?

Also, are we expecting people to get good at user experience design? That seems like mission creep to me.

[2016-10-04 17:40] jeffreywescott commented on #77
Actually, in this case, we should be using a slider rather than an input field, IMO.

[2016-10-04 17:41] prattsj commented on #77
Totally unrelated (new issue?), but sure. :)

[2016-10-04 17:53] jeffreywescott commented on #75
@harmanlearns -- our certs are fully up-to-date. This is a Chrome issue. Others have seen it as well. Make sure you're on the latest Chrome.

It's similar to this issue here, though not DigiCert: https://apple.stackexchange.com/questions/134601/chrome-showing-the-sites-security-certificate-is-not-trusted-for-github

[2016-10-04 17:53] #75 closed, assigned to nobody

[2016-10-04 18:03] jeffreywescott commented on #81
@carlabagdonas -- I cannot reproduce this:

[code]

[2016-10-04 18:03] #81 closed, assigned to nobody

[2016-10-05 15:51] heyheyjp commented on #83
another benefit of this: automatically setting up github notifications! 🙂

[2016-10-07 21:12] mKleinCreative opened #85 "scrolling in retro feedback"
### Expected vs. Actual

Had my mouse over the ZPD question in the retro feedback survey and was trying to scroll down the page, when you do that, it scrolls through integers from -100+ to 100
### Steps to Reproduce

Try scrolling over the number field in the retro feedback survey where it asks you what you believed your ZPD for the project was.
### Environment and Versions

ECHO

[2016-10-07 22:37] GeneralMeow opened #86 "Strongly Agree/Agree new voting mechanism/system"
I would love to see a new method of entering the strongly disagree - strongly agree rubric. I am proposing that we change it to a 100 point sliding scale system so that we can give folks a score that is much more accurate and gives us more control over exact numbers. The distance between agree and strongly agree is enough that I would love to have the option to choose, since the distance is full o

[2016-10-08 00:07] needdra opened #87 "New Players Can Change Feedback"
Please develop a way for newer players (say first 10wks) to adjust their feedback when they realize they've made a mistake, or scored someone lower than they meant to after discussing feedback. This process should be moderated or something - like, they need to submit the request rather than being able to change it themselves.

[2016-10-08 18:43] jaredatron opened #88 "cycle configuration moderator interface"
## The Problems
- We're trying to design a very complex algorithm with a growing and changing set of needs
- The moderator cannot easily make adjustment to the results of the algorithm
- We're not able to integrate player feedback into the current cycle configuration
## Purposed Solution

The moderator has a web interface for the cycle configuration process

After the moderator closes the current

[2016-10-11 15:55] jaredatron commented on #88
@shereefb @tannerwelsh @prattsj thoughts?

[2016-10-11 15:58] jaredatron opened #89 "don't post review alerts in oakland"
It clutters the oakland channel right when were using it the most. It seems that posting these updates in the group channel alone is enought.

[2016-10-11 15:59] heyheyjp commented on #89
Duplicate of https://github.com/LearnersGuild/los/issues/80.

[2016-10-11 15:59] #89 closed, assigned to nobody

[2016-10-11 16:00] heyheyjp commented on #88
Partly being addressed by https://github.com/LearnersGuild/game/issues/475.

[2016-10-11 17:44] tannerwelsh commented on #88
Like the approach here. @shereefb is the moderator most directly affected by this change though, so my feedback is less useful.

[2016-10-11 17:50] heyheyjp opened #90 "Consider letting teams pick their own project names"
Our auto-generated names like #boiling-pademelon and #fanatical-woodpecker and #apathetic-chickadee are often more awkward/weird than cute.

Teams might like to be able to create their own (perhaps more meaningful names). The system could still enforce length, uniqueness and safety/content constraints.

[2016-10-12 02:18] salmonax opened #91 "Player can optionally maintain an ongoing project, in addition to their main project"
A "maintainer" role: learner can optionally select to maintain an ongoing project, like Trossello, in parallel with their project, as an official part of playing, in a capacity analogous to a 2nd team.

[2016-10-12 03:18] jason00111 opened #92 "All learners have access to other team's git repos"
I'd like to be able to review other group's projects on my own time outside of the Friday afternoon review time. The problem is I don't know where the git repositories for each project are.

I can sometimes find them by looking through the oakland channel history to find the team names and then looking in the team's channel to see if anyone has linked the git repo. But often the repo is not linked

[2016-10-12 04:06] jason00111 opened #93 "Echo Invalid Certificate"
Invalid certificate error when I try to access echo.  See screenshots below.
I've tried logging out and back in, restarting computer, same error for a few days now.
On Mac, Chrome is up to date.

<img width="621" alt="screen shot 2016-10-11 at 8 42 09 pm" src="https://cloud.githubusercontent.com/assets/20765448/19297027/df539254-8ff5-11e6-9aeb-90013d9ba88e.png">
<img width="1178" alt="screen shot

[2016-10-12 04:08] jason00111 commented on #93
Also see issue #75

[2016-10-12 16:57] salmonax opened #94 "Shared learner lore"
Specific proposals (purely speculative):

Each project has a set of lore\* issues associated with it, concepts that are frequently encountered in that project. NPM modules might have something as simple as iterating through an array, or recursion, or even currying.

Contributing to the lore affects the stats in some way, so that the system can grow. I personally know that I would love to contribut

[2016-10-12 20:06] jeffreywescott commented on #93
Hi, Jason. As described in #75, our certs are definitely valid and up to date. This is most likely an issue related to a cached root cert, [as described here](https://apple.stackexchange.com/questions/134601/chrome-showing-the-sites-security-certificate-is-not-trusted-for-github).

Try opening Keychain Access, searching for "COMODO" and deleting any of those certificates, then restart chrome, flus

[2016-10-12 20:07] jeffreywescott commented on #92
Related #83

[2016-10-14 04:59] jason00111 commented on #93
I managed to delete the certificate with the name "COMODO" (I had to go into recovery mode and run `csrutil disable` before I could do this) but that didn't solve the problem.

I flushed all caches in Chrome and deleted the folder `~/Library/Application Support/Google/Chrome` but that didn't solve the problem.

Uninstalling and reinstalling Chrome **DID** solve the problem.  I was able to keep my

[2016-10-14 18:52] jeffreywescott commented on #93
Thanks, @jason00111 ... it's a super annoying Chrome bug. :-(

[2016-10-14 18:52] #93 closed, assigned to nobody

[2016-10-15 06:58] jason00111 commented on #92
I discovered that this functionality already exists.

In echo, if you type `/review #team-name`, echo displays the artifact url.

[2016-10-15 06:58] #92 closed, assigned to nobody

[2016-10-19 17:21] heyheyjp opened #95 "Add field to user profile for preferred gender pronouns"
Would be nice to be able to look this up at any time. So easy to forget.

[2016-10-19 19:51] carlabagdonas opened #96 "Make it easier to edit my echo profile"
### Expected vs. Actual

Trying to edit the info in my echo profile - couldn't figure out how to do it after poking around a bunch, was finally pointed to the IDM page by @prattsj, but never would have known about that otherwise. There should be an easy, frictionless way to edit the info in my profile, and ideally a way to add custom fields.

For example, we were talking today about people having

[2016-10-19 20:41] jeffreywescott commented on #96
Hey, @carlabagdonas, be sure to check out the `/profile` command, also.

[2016-10-19 22:42] AbrahamFergie opened #97 "Unable to login to echo through rocket chat app on mobile device"
### Expected vs. Actual

_What were you attempting to do? What actually happened?_
unable to get to github signin page to Login to echo.learnersguild.org server
### Steps to Reproduce

_How can you reproduce the bug? Include as much detail as you can._
failed to connect to server: abort. abort
### Environment and Versions

_What versions of relevant external software were you using (browser, OS, e

[2016-10-24 15:40] carlabagdonas opened #98 "Add custom fields / gender pronoun field to Echo profile"
### Expected vs. Actual

_Add the option to create custom profile fields, or add a field for gender pronoun so that people can list this information in their Echo profile_
### Steps to Reproduce

_How can you reproduce the bug? Include as much detail as you can._
### Environment and Versions

_What versions of relevant external software were you using (browser, OS, etc.)?_

[2016-10-24 16:14] jeffreywescott commented on #98
Dupe of #95

[2016-10-24 16:14] #98 closed, assigned to nobody

[2016-10-26 21:25] carlabagdonas opened #99 "Auto-archive old Echo channels each week"
### Expected vs. Actual

There are way too many echo channels to search through when I want to go looking for relevant channels to join. This creates a lot of extra noise and dilutes the potency / relevance of communication via Echo, which is already a problem.

Suggested solution: auto-archive channels from the previous cycle as soon as a new cycle is launched. Ideally, they are still searchable

[2016-10-26 21:41] heyheyjp commented on #99
Duplicate of https://github.com/LearnersGuild/los/issues/57.

[2016-10-26 21:41] #99 closed, assigned to nobody

[2016-10-28 20:45] Moniarchy opened #100 "Could not set artifact or see project list!"
### Expected vs. Actual

I was attempting to set an artifact, I got the message (Error:\* No such project exist with that name for that player).
Then I attempted to see what projects were on for this cycle. Got the message (There are 0 active projects this cycle. You have participated in 15 projects thus far.)
Then I attempted to list projects in review. There were none.
### Steps to Reproduce

Th

[2016-10-28 23:21] jeffreywescott commented on #100
Thanks for this report! Sorry for the gruesome bug. It should be fixed now.

[2016-10-28 23:21] #100 closed, assigned to nobody

[2016-10-28 23:37] AbrahamFergie opened #101 "player stats"
### Expected vs. Actual

_What were you attempting to do? What actually happened?_
lookup stat updates, mine and Harman's stats because we were partnered last week and he didnt get to finish his retro on time.
### Steps to Reproduce

_How can you reproduce the bug? Include as much detail as you can._
no bug exactly just past retros were completed due to absence and now stats have not been recalcul

[2016-10-29 05:04] heyheyjp opened #102 "Project formation algorithm results should be deterministic"
For _reasons_, the project formation algo was run 3 times today (attempted more times than this, actually, but 3 times produced actual projects).

The results in all 3 cases were different. They should be deterministic.

[2016-10-31 18:14] Elleyes opened #103 "Echo on android mobile issue"
### Expected vs. Actual

_Login issue with rocket chat for android mobile (I have a one+one) using my github account.  Github does not have login for android mobile. Rocket chat cannot log me into my github account from my android mobile.

### Steps to Reproduce

_Downloaded rocket chat app for android. Failed attempt through github login prompt. Does not connect. Page hangs, no error message.

##

[2016-10-31 19:16] heyheyjp opened #104 "Just received 3 duplicate stats DMs from a project completed weeks ago."
What gives? Why did `echo` just send me 3 identical DMs - themselves dupes of a stats DM received previously for a project completed weeks ago?

https://echo.learnersguild.org/direct/echo?msg=WinbvEbES3xDLBM2E

[2016-10-31 19:16] heyheyjp commented on #104
Make that 4. Another just received. 🤔

[2016-10-31 19:17] heyheyjp commented on #104
Now 5.

[2016-10-31 19:18] heyheyjp commented on #104
And counting...

[2016-11-01 00:00] heyheyjp opened #105 "Fix the "product manager" hacks"
Allow product managers to be designated up front rather than hacked onto teams as "players" after formation.

[2016-11-01 02:04] heyheyjp commented on #104
Resolved. Related to setup of a staging env w/ configuration errors.

[2016-11-01 02:04] #104 closed, assigned to nobody

[2016-11-02 18:39] bundacia commented on #102
This will be fixed by https://github.com/LearnersGuild/game/issues/537

[2016-11-02 18:39] #102 closed, assigned to bundacia

[2016-11-04 00:40] jrobcodes opened #107 "Distribute teams more evenly among pro players/OSS projects"
This is more feature request than bug report. :)

### Expected vs. Actual

Last week, 6 teams were originally assigned to lizardboard, 0 to floworky, and 1 to Trossello.  I am requesting that LOS/Game Moderators consider an addition to the algorithm to more evenly distribute players across OSS projects.

[2016-11-04 13:43] bundacia commented on #107
Maybe goals need a "max teams" attribute in addition to a "team-size".

[2016-11-04 22:24] tannerwelsh opened #108 "Break up ZPD across 3 health categories"
@arayi brought up that it's hard to estimate challenge/ZPD when there are different types of challenge (e.g. technical challenge vs. team play challenge).

So, instead of one ZPD number, measure challenge across all three dimensions of health: cultural, team play, and technical.

This way, learners can give log more fine-grained reflections on their challenge level at any given time.

Thanks for t

[2016-11-04 23:06] jaredatron opened #109 "Retrospective #delightful-darter (cycle 17)"
I gave this relative contribution

@rachel-ftw 40%
@deadlyicon 42%
@EthanJStark 18%

but I should have given this relative contribution

@rachel-ftw 40%
@deadlyicon 18%
@EthanJStark 42%

fix?

[2016-11-04 23:53] EthanJStark opened #110 "Retro: clarity on which retro stats affect stats"
I only just now learned that the "higher resolution" bits on team play retro weren't affecting others' scores; perhaps that could be referenced while we take retro?

[2016-11-07 16:57] jaredatron opened #111 "expose players and teams data"
Please expose the data for all players

- @handle
- real name
- email address
- PGP
- avatar image url

as well as cycle teams

- team name
- member user ids

Please expose this via JSON somewhere so I ca build my own helpful tools.

[2016-11-14 19:11] Moniarchy opened #112 "Adding comments to project reviews"
Getting better at what we're doing culturally depends a lot on the written feedback we get from retros. We need a feature that allows us to write comments in project reviews too. If I continually get comments on my code that say that my variables are meaningfully named, that my functions are small and serve one purpose, or the like, I will make note of what I am doing well and continue to do those

[2016-11-14 19:28] tannerwelsh opened #113 "Back-fill missing retro data: Ana's pair from cycle 18"
In cycle 18, project `#ablaze-coot`, Ana worked with ? from outco. They were not around on Monday for retros/reviews, so we're missing data for the project and cannot calculate stats for Ana.

This can be resolved 1 of two ways:

1. We find out who the pair is, and have them submit a retro
1. We drop them from the project, and only use other retros
1. We make an educated guess as to how they'd res

[2016-11-14 19:34] EthanJStark opened #114 "#Oakland channel gets flooded during project reviews"
### Expected vs. Actual

While projects are being reviewed, I would expect to still be able to view the chat on the Oakland channel. Currently, it's flooded with so many notifications, from every project that gets reviewed, that it's hard to follow important updates.

### Steps to Reproduce

Look at the #Oakland channel during a voting cycle

Ideas: either contain this feed of completed reviews in

[2016-11-14 19:43] EthanJStark opened #115 "Framing of free-response portion of retro"
When completing a retro, a player is prompted with something akin to:

This prompt is asking for, as @needdra phrased it, an open-faced shit sandwich.

Karim has offered excellent ways to frame feedback:

- Actionable, Specific, and Kind
- Possibly: avoid giving advice. Instead, frame feedback in terms of "I experienced you doing action X. It had impact Y on me"

I think that it'd be very helpful

[2016-11-14 19:53] yaseenagag opened #116 "Adjust my hours for week 16 and 17"
- kindly adjust week 17 hours from 25 to 20
- week 16 hours from 35 to 20
i missed days during those weeks and forgot to recalculate my hours

[2016-11-15 19:21] carlabagdonas opened #117 "Missing XP stats for cycle 18"
### Expected vs. Actual

there are a bunch of folks who seem to have zeros for XP last week: mike adossi, melody, john hopkins, abraham. i’m assuming this was an error in retro submissions?

also: mel’s stats are now in the red two weeks in a row because they didn’t receive any retro feedback (as far as i can tell) - will that be logged later?

### Steps to Reproduce

_How can you reproduce the bu

[2016-11-15 21:43] lizzkats opened #118 "Foundational Project Placement Issue"
### Expected vs. Actual

I voted for two new practice projects and was placed on the same foundational project that I had last week, which was Database Fundamentals (tutorials on SQL)

### Steps to Reproduce

Not sure if it's a bug or not but it seems like a waste of time for someone to do a tutorial twice.

### Environment and Versions

Google chrome, echo, El Capitan :)

[2016-11-16 18:27] jaredatron opened #119 "Feature Request: "In the red" echo message"
when a player is in the red an echo message should be sent to them telling them what they need to do or should do to keep from being asked to leave.

If this feature is possible and accepted I'll write content for it then.

[2016-11-16 18:28] jaredatron commented on #119
CC: @carlabagdonas

[2016-11-19 21:16] Moniarchy commented on #86
I would like to see a sliding scale too.

[2016-11-21 16:50] mantinone opened #120 "Retros #equable-blesbok"
### Expected vs. Actual
I rated Aileen's technical health at Somewhat Agree last week.  After calculating the actual percentage score, I would like it raised to Agree.

[2016-11-21 16:51] nodatall opened #121 "Echo sent multiple messages | Potential error calculating stats"
Cycle 19 -  echo sent me 3 post retro messages each with different hours for my teammate. My team was #hurried-kongoni.

The final message was the accurate recorded hours and included the following:

Your estimated contribution to the project: 44%
Expected contribution for # of hours: 41%
Contribution difference: 3%

My elo went down by 1, which seems off considering the contribution difference wa

[2016-11-21 18:22] Anasauce commented on #113
Just to clarify, the cycle was week 17, my Out.co partner left mid-week so they never submitted a retro. I'm pretty sure my Out.co partner from week 18 did submit their retro (even though they weren't here) because I received written feedback from them in Echo. Also, I was never in the team #ablaze-coot...so maybe this is another learner?

[2016-11-21 18:26] Anasauce commented on #113
![screen shot 2016-11-21 at 10 23 19 am](https://cloud.githubusercontent.com/assets/6962945/20495195/e69eed98-afd4-11e6-8fb0-32cf287d4460.png)

[2016-11-21 18:27] Anasauce commented on #113
Those were my stats from that week...I actually don't know what (if any can/or needs to be changed). The only thing was that I got 0 Elo gain from that week...but that might just be the nature of the game at this point...thanks for looking into this :)

[2016-11-21 21:02] rae-ralston opened #122 "broken in echo: /project list -r"
### Expected vs. Actual

Attempted to view the project list to check to see if we'd set our artifact. Gave me a bunch of code in response.

### Steps to Reproduce

type /project list -r into echo

this is the data echo pinged back to me:

[code]

_What versions of relevant external software were you using (browser, OS, etc.)?_
Most up to date chrome.

[2016-11-21 21:03] rae-ralston commented on #122
Dev tried it and got the same error as well

[2016-11-28 18:55] nodatall opened #123 "Pro players contribution to OSS projects not accurate"
Pro players don't know enough about team dynamics to make accurate assessments of contribution, especially when they have multiple teams.

I think it would be better if their contribution estimations were removed from the equation.

[2016-11-28 19:47] EthanJStark opened #124 "Need late Jrob retro data"
This cycle, our team, #callous-teal, which includes Moniarchy and jrob8577,
@jrob8577 was unable to complete his Retro before the cycle closed (as he's on vacation). Noting this here, so that his retro data can be included retroactively.  Thanks, all!

[2016-11-29 23:03] punitrathore opened #125 "Oauth permissions are too strict"
### Expected vs. Actual
Expected: Basic profile + email access

Actual: When trying to authorize the Echo app with my Github account, it requests access to all private repos, as well as Organization access, which is excessive IMHO.

### Screenshot
<img width="815" alt="screen shot 2016-11-29 at 3 00 31 pm" src="https://cloud.githubusercontent.com/assets/96797/20732722/e07cd33c-b644-11e6-9497-bfa12

[2016-12-01 16:44] mKleinCreative opened #126 "Emoji's are broken"
### Expected vs. Actual

Emoji
### Steps to Reproduce

![screen shot 2016-12-01 at 8 43 17 am](https://cloud.githubusercontent.com/assets/1609748/20802872/4c1561d2-b7a2-11e6-90da-75f56298c81d.png)

### Environment and Versions

Echo Browser version, it looks like it isn't referencing the sheet of emoji's correctly? It's not only for me posting them, it's also bugged out on existing posts.

[2016-12-01 17:00] bundacia commented on #126
@mKleinCreative I had the same thing happen to me. It's caching issue I believe. (Is it broken if you use a different browser?) Try clearing your browser cache. That fixed it for me.

[2016-12-01 23:36] heyheyjp commented on #126
Thanks @mKleinCreative. Closing for now. Let us know if clearing the cache doesn't resolve it for you.

[2016-12-01 23:36] #126 closed, assigned to nobody

[2016-12-06 02:55] lizzkats commented on #86
This. Please!

[2016-12-07 18:52] jaredatron opened #127 "`/project list -r` broken"
![image](https://cloud.githubusercontent.com/assets/8385/20981930/4a56c1ec-bc6b-11e6-8a80-e8c07a36d1c7.png)

[2016-12-07 20:20] heyheyjp commented on #127
Duplicate of https://github.com/LearnersGuild/los/issues/122.

[2016-12-07 20:20] #127 closed, assigned to nobody

[2016-12-07 20:27] #122 closed, assigned to nobody

[2016-12-10 02:22] HJBowers opened #128 "Adjust my hours for week 20"
Please adjust my week 20 hours from 38 to 32.
I miss calculated my billable hours. Thank you!

[2016-12-13 07:28] heyheyjp commented on #77
Fixed in https://github.com/LearnersGuild/game/pull/631.

[2016-12-13 07:28] #77 closed, assigned to nobody

[2016-12-13 17:26] arayi opened #129 "Android app will not log in"
### Expected vs. Actual

Log into Echo/Rocket via Android app

### Steps to Reproduce

Consistent errors when attempting to log in via Android on various phones/OS versions

### Environment and Versions

Not sure how extensive, but have heard consistent complaints from other Android users

[2016-12-13 17:28] heyheyjp commented on #129
Related: https://github.com/RocketChat/Rocket.Chat/issues/5014.

[2016-12-13 17:30] arayi opened #130 "Channel list sometimes does not display"
### Expected vs. Actual

During normal use, Echo occasionally stops displaying the channel list (still displays favorites).

### Steps to Reproduce

Does not appear to be correlated with any specific idle condition. Occurs in both browser and Mac client.

### Environment and Versions

Chrome Version 54.0.2840.98 (64-bit), OSX Version 10.11.6, browser-based Echo

[2016-12-13 17:39] Compsight opened #131 "Missing Channels in Nav Panel using Rocket.Chat+ Desktop"
### Expected vs. Actual

_What were you attempting to do? What actually happened?_
Attempting to use/view Echo using Rocket.Chat+ for macOS X.
Upon opening and logging in (?after session timeout?), all "normal" channels are missing. Only channels that have been marked as favorite are showing on the left-hand navigation panel.
### Steps to Reproduce

_How can you reproduce the bug? Include as much

[2016-12-13 18:44] heyheyjp commented on #130
@arayi: please attach a screenshot if you have one/next time this occurs. Thanks!

[2016-12-13 18:45] heyheyjp commented on #131
@Compsight: please attach a screenshot if you have one/next time this occurs. Thanks!

[2016-12-13 19:27] jeffreywescott commented on #103
Duplicate of #97.

[2016-12-13 19:27] #103 closed, assigned to nobody

[2016-12-13 19:27] jeffreywescott commented on #129
Duplicate of #97.

[2016-12-13 19:27] #129 closed, assigned to nobody

[2016-12-13 19:28] jeffreywescott commented on #97
Related: https://github.com/RocketChat/Rocket.Chat/issues/5014

[2016-12-13 19:29] jeffreywescott commented on #97
Looks like this is not just Android, but iOS as well, according to https://github.com/RocketChat/Rocket.Chat/issues/5014.

[2016-12-13 19:31] jeffreywescott commented on #131
Duplicate of #130

[2016-12-13 19:31] #131 closed, assigned to nobody

[2016-12-13 19:40] jeffreywescott commented on #128
Hi, @HJBowers -- would you please send this request through our #support channel in echo? We're trying to use these issues as bug reports, feature requests, or suggestions for the software rather than for support / help. Thanks.

[2016-12-13 19:40] jeffreywescott commented on #124
Hi, @EthanJStark  -- would you please send this request through our #support channel in echo? We're trying to use these issues as bug reports, feature requests, or suggestions for the software rather than for support / help. Thanks.

[2016-12-13 19:41] jeffreywescott commented on #120
Hi, @mantinone   -- would you please send this request through our #support channel in echo? We're trying to use these issues as bug reports, feature requests, or suggestions for the software rather than for support / help. Thanks.

[2016-12-13 19:42] jeffreywescott commented on #117
Hi, @carlabagdonas -- would you please send this request through our #support channel in echo (or assign an Asana task to "Support Engineering" directly? With our recent process changes, we're trying to use these issues as bug reports, feature requests, or suggestions for the software rather than for support / help. Thanks.

[2016-12-13 19:42] jeffreywescott commented on #116
Hi, @yaseenagag  -- would you please send this request through our #support channel in echo? With our recent process changes, we're trying to use these issues as bug reports, feature requests, or suggestions for the software rather than for support / help. Thanks.

[2016-12-13 19:43] jeffreywescott commented on #113
@tannerwelsh / @Anasauce -- in light of our new support process, please use the #support channel in echo to get this resolved. We're trying to keep this repository for issues related to the software (bugs, feature requests, suggestions, etc.) rather than support / help requests. Thanks!

[2016-12-13 19:46] jeffreywescott commented on #123
Thanks for the suggestion, @nodatall.

[2016-12-13 19:49] jeffreywescott commented on #121
Hi, @nodatall -- we periodically re-compute stats across all projects. It's not uncommon for the results to change between computations, as data is sometimes added / adjusted. If the final message you received had the correct "raw" data, that's _good_. We send the message each time the computation runs (though in the future, we want to make stats a "pull" based process rather than a "push" based p

[2016-12-13 19:49] #121 closed, assigned to nobody

[2016-12-13 19:51] jeffreywescott commented on #112
Hi, @Moniarchy. This is an interesting suggestion! On the LOS team here at Learners Guild, we use GitHub Pull Requests and review process for leaving such feedback. Have you tried those tools? They're really well-developed, allowing you to comment on any line of any file. It seems unlikely that we'd want to duplicate that functionality in our systems. Unless I'm misunderstanding what you're asking

[2016-12-13 19:52] jeffreywescott commented on #111
@deadlyicon -- I gave you this API already, didn't I?

[2016-12-13 19:53] jeffreywescott commented on #110
Hi, @EthanJStark -- would you please clarify what you mean? What are you suggesting, specifically? A change in the UI somewhere? Next to particular questions?

[2016-12-13 19:53] jeffreywescott commented on #109
@deadlyicon  -- in light of our new support process, please use the #support channel in echo to get this resolved. We're trying to keep this repository for issues related to the software (bugs, feature requests, suggestions, etc.) rather than support / help requests. Thanks!

[2016-12-13 20:11] jeffreywescott commented on #101
Hi, @AbrahamFergie ... I'm unclear on what you're asking for here. Can you clarify? We periodically re-run the stats computation from the "epoch" of the game, so ... if the stats didn't make it into the last spreadsheet, they will make it into the next one.

Or are you saying you need to request data change? If so, please do that here: https://github.com/LearnersGuild/los/projects/1

[2016-12-13 20:13] jeffreywescott commented on #96
@carlabagdonas -- did you have a chance to check out `/profile`? I'm going to close this issue for now.

Also, if you'd like PGP (or other fields) added to the profile, please file a separate issue for that and will triage / prioritize it.

Thanks!

[2016-12-13 20:13] #96 closed, assigned to nobody

[2016-12-13 20:14] jeffreywescott commented on #96
See also: https://github.com/LearnersGuild/los/issues/95

[2016-12-13 20:17] jeffreywescott commented on #87
Hi, @needdra -- we have a process for this, outlined on the [README](https://github.com/LearnersGuild/los) of this repository. Basically, learners can request data changes here to change their feedback: https://github.com/LearnersGuild/los/projects/1

[2016-12-13 20:17] #87 closed, assigned to nobody

[2016-12-13 20:21] jeffreywescott commented on #86
Thanks for the suggestion, @GeneralMeow (and @Moniarchy / @lizzkats). We totally understand the sentiment around this request, but strongly disagree with it. Here's why:

[Likert scales](https://en.wikipedia.org/wiki/Likert_scale) are _designed_ to normalize psychometric data on questionnaires over a group of people, so while it runs the risk of being _less accurate_ for an individual answering a

[2016-12-13 20:21] #86 closed, assigned to nobody

[2016-12-13 20:23] jeffreywescott commented on #114
Duplicate of #80.

[2016-12-13 20:23] #114 closed, assigned to nobody

[2016-12-13 20:31] jeffreywescott commented on #74
This should be fixed now.

[2016-12-13 20:31] #74 closed, assigned to nobody

[2016-12-13 20:32] jeffreywescott commented on #73
@EthanJStark please paste a screen shot if you see this again. What likely happened is that there was a space (' ') before the `/review` command, which made echo not treat it as a slash command. Not really fixable.

[2016-12-13 20:32] #73 closed, assigned to nobody

[2016-12-13 21:37] EthanJStark commented on #73
@jeffreywescott It was the correct syntax, and it legit disappeared seconds after it was there. If I see it again, I'll try to grab it!

[2016-12-13 22:00] jeffreywescott commented on #71
This is already possible:

<img width="1278" alt="airportextra_and_item-0_and_item-0_and_item-0_and_item-0" src="https://cloud.githubusercontent.com/assets/130597/21161215/8557ed18-c13c-11e6-8d00-7d5395108984.png">

[2016-12-13 22:00] #71 closed, assigned to nobody

[2016-12-13 22:01] jeffreywescott commented on #80
Duplicate of #66.

[2016-12-13 22:01] #80 closed, assigned to nobody

[2016-12-13 22:05] jeffreywescott commented on #70
I don't recall seeing this during the last cohort sign-ups. Closing.

[2016-12-13 22:05] #70 closed, assigned to nobody

[2016-12-13 22:09] jeffreywescott commented on #65
Hey, @needdra. We'll eventually be tracking (and showing) a "Challenge" stat for all players in the (forthcoming) stats UI.

[2016-12-13 22:09] #65 closed, assigned to nobody

[2016-12-13 22:11] jeffreywescott commented on #62
You only have to sign-in if your token expires, which means you haven't _used_ the system in 24 hours ... which means you probably only have to sign-in after a weekend.

[2016-12-13 22:11] #62 closed, assigned to nobody

[2016-12-13 22:13] jeffreywescott commented on #59
Is this still a question, @deadlyicon, given the new way teams are being formed? If not, please close. :-)

[2016-12-13 22:13] jeffreywescott commented on #60
Is this still a question, @deadlyicon, in light of our new project-formation strategy? If not, would you please close it? :-)

[2016-12-13 22:14] jeffreywescott commented on #55
This has to do with whether or not the cycle is in the right state. We'll be addressing it soon-ish(TM).

[2016-12-13 22:17] jeffreywescott commented on #48
Players in each pool who have not voted are dim now. Closing.

[2016-12-13 22:17] #48 closed, assigned to nobody

[2016-12-13 22:17] jeffreywescott commented on #46
The questions have been modified a lot since this was filed. No longer relevant.

[2016-12-13 22:17] #46 closed, assigned to nobody

[2016-12-13 22:17] jeffreywescott commented on #45
No response after months. Closing.

[2016-12-13 22:17] #45 closed, assigned to nobody

[2016-12-13 22:19] jeffreywescott commented on #36
Hovering should do this. Closing.

[2016-12-13 22:19] #36 closed, assigned to nobody

[2016-12-13 22:20] jeffreywescott commented on #32
Should be handled by Admin tools "Real Soon Now(TM)".

[2016-12-13 22:21] jeffreywescott commented on #31
I cannot reproduce this, @harmanlearns -- can you paste a screenshot?

[2016-12-13 22:22] jeffreywescott commented on #28
If you click on the player's name, a panel will slide out with their profile info.

[2016-12-13 22:22] #28 closed, assigned to nobody

[2016-12-13 22:23] jeffreywescott commented on #23
If you type `/` by itself, auto-complete should show you the list of commands.

[2016-12-13 22:23] #23 closed, assigned to nobody

[2016-12-13 22:28] needdra commented on #65
perfect.

On Tue, Dec 13, 2016 at 2:09 PM, Jeffrey Wescott <notifications@github.com>
wrote:

--
*NeEddra James // Partner*
Learners Guild
learnersguild.org

Connect with us:
www.facebook.com/groups/LearnersGuild

[2016-12-13 22:32] needdra commented on #87
great. thanks.

[2016-12-14 04:02] TheLady opened #132 "Survey Problem - Submitted Wrong Retro Information"
### Expected vs. Actual

_What were you attempting to do? What actually happened?_
I expected to give a favorable rating for Eugene Baah on Truth but somehow ended up giving him a zero.

### Steps to Reproduce

_How can you reproduce the bug? Include as much detail as you can._
I can't necessarily reproduce the bug, but I do know that accidentally brushing across the wrong spot while scrolling dow

[2016-12-14 06:04] jason00111 opened #133 "Search all channels"
A search all feature that lets you search in all your channels.  Sometimes I remember reading something but I don't remember which channel it was in.

[2016-12-14 15:55] AbrahamFergie commented on #101
Ok submitted an issue at the end of week 18 and the start of week 19 but it
shows my stat progress for week 18 as zero'd out across the board

On Dec 13, 2016 12:11 PM, "Jeffrey Wescott" <notifications@github.com>
wrote:

[2016-12-14 17:08] TheLady opened #134 "Echo not saving my profile photo"
### Expected vs. Actual

_What were you attempting to do? What actually happened?_
I've uploaded my photo a few times, but it disappears the next day.

### Steps to Reproduce

_How can you reproduce the bug? Include as much detail as you can._
I reproduced the bug by uploading a photo last night and logging in this morning. There was no picture :-(.

### Environment and Versions

_What versions of

[2016-12-14 17:50] jeffreywescott commented on #134
Hi, @TheLady ... if you change your profile photo on GitHub, it will automatically by synchronized into echo the next time you sign-out and sign-in again. Sorry for the confusion!

[2016-12-14 17:50] #134 closed, assigned to nobody

[2016-12-14 17:52] jeffreywescott commented on #101
Okay -- I've moved your issue here: https://github.com/LearnersGuild/los/projects/1

[2016-12-14 17:55] jeffreywescott commented on #133
Try this:

<img width="1276" alt="rocket_chat_" src="https://cloud.githubusercontent.com/assets/130597/21194049/58a7c02a-c1e3-11e6-87f1-5f32a0102f97.png">

[2016-12-14 17:55] #133 closed, assigned to nobody

[2016-12-14 20:21] TheLady commented on #134
Ahhh... thank you!

[2016-12-14 22:45] breyana opened #135 "Change stats submitted week of the 28th"
### Expected vs. Actual

I expected that putting Not Enough Information would skip the question, but it gave 0s. I'd like to re-enter the survey I filled out so that I can provide accurate stats

[2016-12-15 16:32] HJBowers commented on #128
I noticed this was reopened after you asked me to make my request through
the #support channel in echo. Do you still want me to post in echo?

Hannah

On Tue, Dec 13, 2016 at 12:00 PM, Jeffrey Wescott <notifications@github.com>
wrote:

[2016-12-15 17:50] jeffreywescott commented on #128
@HJBowers -- sorry -- we are working on the best process for this. Don't worry about reporting it for now.

[2016-12-19 16:50] SalSoloman opened #136 "Wrong team. Can't do retro"
### Expected vs. Actual

Due to my sickness, I've missed Monday and couldn't vote for a project, I was automatically paired with @teqnickels but found out when I came on Tuesday that she joined another team as a third member so I decided to join them too as a fourth member, but I found out when I was trying to do retro that am on the wrong team.
Am suppose to be on team #merciful-eland but am curr

[2016-12-19 17:06] heyheyjp commented on #136
Thanks, @SalSoloman. Looking into it.

[2016-12-19 18:12] heyheyjp commented on #136
Should be all set.

[2016-12-19 18:12] #136 closed, assigned to heyheyjp

[2016-12-19 19:03] thamaranth opened #137 "@Thamaranth retro for week 23"
I didn't get a chance to submit my retro for Cycle 23 because my child was born that weekend. How should I format the data to submit here?

[2016-12-20 02:40] thamaranth commented on #137
contribution: Monica 45%
Najee 45%
Jrob 10%

hours : 32 hours

[2016-12-20 17:31] bundacia commented on #124
@jrob8577, you should now have the ability to complete uncompleted retros from previous cycles (we just deployed that change today). If you issue the `/retro` command in Echo you should get a list of all uncompleted retro's and be able to complete them.

[2016-12-20 17:31] #124 closed, assigned to nobody

[2016-12-20 17:33] bundacia commented on #137
@thamaranth, you should now have the ability to complete uncompleted retros from previous cycles (we just deployed that change today). If you issue the `/retro` command in Echo you should get a list of all uncompleted retro's and be able to complete them.

[2016-12-20 17:33] #137 closed, assigned to nobody

[2016-12-20 17:46] bundacia commented on #120
Done.

[2016-12-20 17:46] #120 closed, assigned to bundacia

[2016-12-20 17:48] bundacia commented on #135
@breyana, can you provide the name of the project team you were working on that week?

[2016-12-20 18:01] bundacia commented on #128
Done. Updated reported hours for @HJBowers on project `#ancient-kite` from `38` to `32`. Note that this was cycle 21, not 20.

[2016-12-20 18:01] #128 closed, assigned to nobody

[2016-12-20 18:06] bundacia commented on #116
Done. Hours for both those cycles changed to `20`.

[2016-12-20 18:06] #116 closed, assigned to bundacia

[2016-12-20 18:20] bundacia commented on #109
done

[2016-12-20 18:20] #109 closed, assigned to bundacia

[2016-12-20 18:27] bundacia commented on #101
@shereefb / @tannerwelsh: now that Harman is not here anymore, what's the best way to proceed here? I think this is a moderation decision.

[2016-12-20 18:31] jrobcodes commented on #124
@bundacia To be sure I understand: is there something I need to do here? I think I was removed from the team since I was only here for a day that week...

[2016-12-20 18:38] bundacia commented on #124
Oh ok. If you were removed from the project (I double-checked, you were) than nothing needs to be done here.

[2016-12-20 18:46] jrobcodes commented on #124
Thanks!!

[2016-12-20 20:51] harmanTheCarMan commented on #31
@jeffreywescott issue can be closed. I think it was just a random echo bug.

[2016-12-20 20:51] #31 closed, assigned to nobody

[2016-12-20 23:21] sdweber422 opened #138 "Changed stats of teammate have not updated my stats on the spreadsheet"
Hello,

My stats do not seem to reflect changes that happened for the team that I was on week#21. My team was called #maddening-bandicoot. My ELO, my contribution bias, and my estimation bias are still not reflective of changes I was told to have happened during week 22. Carla DM'd me with my new ELO and my ELO on the stat sheet did not reflect this. Thank you.

Stephan Weber

[2016-12-20 23:35] arayi opened #139 "please verify "technical health" average for @jhallman5"
Wordsmithing from @arayi:

[2016-12-21 16:42] tannerwelsh commented on #101
@bundacia thanks. FYI, I'm not a moderator anymore :)

[2016-12-21 17:14] jeffreywescott commented on #139
Hi, @arayi. Unfortunately, as it is written, this issue is not addressable.

Please update your report to include _specific_ inconsistencies that you are seeing. Without them, there's simply no action we can take to even look at this issue.

[2016-12-21 23:05] jason00111 commented on #133
This searches within a channel.
I'm suggesting a global search to search all channels at once.

[2016-12-21 23:09] jason00111 opened #140 "Search ALL channels at once"
A global search feature that lets you search in all your channels at once. Sometimes I remember reading something but I don't remember which channel it was in.

[2016-12-22 02:15] jason00111 opened #141 "Adjust my contribution for week 23"
JRob made a mistake while estimating contribution and my team assessed contribution was too low as a result.  He mixed up all the 'J' names and estimated his contribution as ~45 instead of a smaller number.

[2016-12-22 19:54] jeffreywescott commented on #140
Duplicate of 133.

[2016-12-22 19:54] #140 closed, assigned to nobody

[2016-12-22 20:07] arayi commented on #139
Output is consistently lower than expected based on the concept that each stat is just an average of the past six weeks. Is that not a specific enough inconsistency?

A specific example brought to me by another learner is that @jhallman5 received 100%/strongly agree on his technical score for last week, yet reported that score went down.

I have had multiple experiences similar to that. I'd have t

[2016-12-22 20:09] arayi commented on #139
Would it be possible to take names out of the LOS repo and have them be part of the production environment instead? I am not the only learner who would be very appreciative of the ability to review the LOS code.

[2016-12-22 20:25] jeffreywescott commented on #139
Thanks for the further detail, @arayi. I'm going to change this issue into a "data" issue and have someone investigate the averages for the technical scores for @jhallman5. That should be enough for us to report back.

[2016-12-22 22:33] teqnickels opened #142 "Stats weren't updated after retros were submitted"
### Expected vs. Actual

Stats weren't updated after retros were submitted

### Steps to Reproduce
Multiple submissions of retros from 4 different team members, unsure of which ones stuck

### Environment and Versions

chrome

[2016-12-22 23:12] breyana commented on #135
#ancient-kite

[2016-12-24 00:25] jason00111 opened #143 "Search All Channels at Once"
Currently users can search only within a channel.  It would be nice to be able to search in all channels at once.  This would be useful if a user doesn't remember which channel something was posted in.

[2017-01-02 23:49] shereefb commented on #101
retros that haven't been completed need to be "auto-closed" after some time has passed.
Adding a new issue to track that.

[2017-01-03 14:39] bundacia commented on #101
@shereefb, can you elaborate on what "closed" would mean so I can do in manually to this one?

[2017-01-03 15:42] bundacia commented on #141
@jrob8577 can you provide the team name, cycle number, and what your responses should have been?

[2017-01-03 16:41] bundacia commented on #135
@breyana, I've re-opened that survey for you, so you should be able to access it with the `/retro` command in Echo and resubmit answers. Let me know if you have any problems.

[2017-01-03 16:41] #135 closed, assigned to bundacia

[2017-01-03 16:56] mKleinCreative opened #144 "Mouse wheel effecting integer fields in retros"
### Expected vs. Actual

When trying to scroll down on the page when you're in the retrospective survey at the page where you're filling in hours or where your zpd was at and you have the field selected, it tends to go a little wild and change your score.
### Steps to Reproduce

So in the retrospective survey, get into the section where you update your zpd and est amount of hours then click the fi

[2017-01-03 19:18] jeffreywescott commented on #144
Duplicate of #85.

[2017-01-03 19:18] #144 closed, assigned to nobody

[2017-01-03 19:20] bundacia commented on #113
Closing this ticket as it doesn't seem like there are any manual data changes needed here.

[2017-01-03 19:20] #113 closed, assigned to bundacia

[2017-01-03 19:33] bundacia commented on #117
This seems to have been resolved. I'm showing those players gained the following xp that cycle: <img width="358" alt="rethinkdb_administration_console" src="https://cloud.githubusercontent.com/assets/189699/21620267/836937c4-d1c1-11e6-8ba6-9ed7a9921ca1.png">

[2017-01-03 19:33] #117 closed, assigned to nobody

[2017-01-03 21:17] jason00111 commented on #141
@bundacia @jrob8577 The team name was wonderful-hartebeest and it was cycle 22

[2017-01-04 00:00] needdra opened #145 "Investigate abrahamfergie missing health stats for cycle 24"
### Expected vs. Actual

_What were you attempting to do? What actually happened?_

no stats reported for tech challenge, estimation accuracy and estimation bias.

stats for abraham fergie

[2017-01-04 00:02] jeffreywescott commented on #145
@needdra, is this a duplicate of #101?

[2017-01-04 14:08] bundacia commented on #132
@TheLady, I've re-opened your survey. You can now change your responses with the `/retro` command.

[2017-01-04 14:08] #132 closed, assigned to bundacia

[2017-01-04 14:43] bundacia commented on #138
@tannerwelsh, do you update the sheet for past cycles when things change or just the tab for the current cycle?

[2017-01-04 14:52] bundacia commented on #142
@teqnickels, which stats are you looking at specifically? Which cycle? Are they still not updated?

[2017-01-04 15:04] bundacia opened #146 "testing"
### Expected vs. Actual

_What were you attempting to do? What actually happened? Please provide your project name and/or the cycle number if applicable._

### Steps to Reproduce

_How can you reproduce the bug? Include as much detail as you can._

### Environment and Versions

_What versions of relevant external software were you using (browser, OS, etc.)?_

[2017-01-04 15:05] #146 closed, assigned to nobody

[2017-01-04 15:24] tannerwelsh commented on #138
Just the current sheet. Unfortunately previous sheets are stale as soon as they are created.

[2017-01-04 15:34] bundacia commented on #138
@sdweber422, would that explain what you're seeing? Does the most recent tab look right to you? We're working on a better interface for stats that would show you all previous cycles and stay up-to-date in real time.

[2017-01-04 19:15] bundacia commented on #139
@arayi: after looking at the data in the spreadsheet the average technical health stats for @jhallman5 seem to match up with the ratings they received each cycle (I looked specifically at cycles 21-24). I can't share specific stats here without @jhallman5's permission, but if they have any further concerns they can reach out directly.

I'm going to go ahead and close this issue for now, but if you

[2017-01-04 19:15] #139 closed, assigned to bundacia

[2017-01-05 12:47] #32 closed, assigned to nobody

[2017-01-06 14:09] jeffreywescott commented on #130
We just merged-in the latest version of Rocket.Chat that hopefully fixes this. Please re-open (with a screenshot) if you see this again.

[2017-01-06 14:09] #130 closed, assigned to nobody

[2017-01-06 14:11] jeffreywescott commented on #97
We just merged-in the latest version of Rocket.Chat that hopefully fixes this. According to https://github.com/RocketChat/Rocket.Chat/issues/5014 it should now work on Android. They're still waiting for Apple to approve their iOS app, so it may take a few more days. I'll leave this open until then.

[2017-01-06 14:12] jeffreywescott commented on #33
This should be fixed.

[2017-01-06 14:12] #33 closed, assigned to nobody

[2017-01-06 14:16] jeffreywescott commented on #63
This should have been addressed by the new Admin UI changes.

[2017-01-06 14:16] #63 closed, assigned to nobody

[2017-01-06 14:17] jeffreywescott commented on #66
We are no longer sending these to #oakland.

[2017-01-06 14:17] #66 closed, assigned to nobody

[2017-01-06 14:17] jeffreywescott commented on #43
Pro players are no longer voting.

[2017-01-06 14:17] #43 closed, assigned to nobody

[2017-01-06 14:19] jeffreywescott commented on #72
Agree -- this should be handled with rooms. Closing.

[2017-01-06 14:19] #72 closed, assigned to nobody

[2017-01-06 14:20] jeffreywescott commented on #111
Closing -- no response.

[2017-01-06 14:20] #111 closed, assigned to nobody

[2017-01-06 14:29] jeffreywescott commented on #143
Related: https://github.com/RocketChat/Rocket.Chat/issues/1615

[2017-01-06 19:32] jaredatron opened #147 "Custom & private echo avatars"
We need everyone in echo to have an accurate image of their face. This raises privacy concerns for some players. Please allow for Custom & private echo avatars

[2017-01-06 21:24] jaredatron opened #148 "add avatars to projects and users lists"
please add avatars next to names on these pages:

https://game.learnersguild.org/projects
https://game.learnersguild.org/users

[2017-01-06 21:25] jaredatron opened #149 "add sorting to https://game.learnersguild.org/projects"
please add sorting to this table https://game.learnersguild.org/projects

[2017-01-06 22:36] jeffreywescott commented on #97
Just tested iOS and it works again.

[2017-01-06 22:36] #97 closed, assigned to nobody

[2017-01-06 23:54] lumodon opened #150 "Lag on rocket.chat from too many channels / messages?"
Posting here by recommendation of:
[code]

The echo channel is starting to lag on my laptop.
Im wondering if this is because there's too many channels with too many messages being loaded at the same time?

Any way to delete old messages (atleast locally)?

### Expected vs. Actual

_What were you attempting to do?
Use rocket.chat to use echo.learnersguild
What actually happened?
Lag

### Steps to R

[2017-01-06 23:56] lumodon commented on #150
Can't seem to add it myself, but I believe this issue would be a good fit for the "Rocket chat" label and the "Question" label

[2017-01-06 23:57] lumodon commented on #118
I agree that that project does indeed feel like a waste of time doing twice. On my second time I did it in 3 days (we had a short week and I used a day off) and just added content to a git-doc for others to use, but even then, it didn't at all feel productive.

[2017-01-09 08:05] needdra commented on #145
no it's not a duplicate. #101 was for a different cycle. #145 is for cycle
24.

On Tue, Jan 3, 2017 at 4:02 PM, Jeffrey Wescott <notifications@github.com>
wrote:

--
*NeEddra James // Partner*
Learners Guild
learnersguild.org

Connect with us:
www.facebook.com/groups/LearnersGuild

[2017-01-09 17:23] jeffreywescott commented on #145
Got it. Thanks for the clarification, @needdra.

[2017-01-09 17:52] shereefb opened #151 "Close retro for @compsight and @starrpatty28"
Is there anyway that stats can be run for @compsight and @starrpatty28 from last week. Our partner @sn0wp did not get to do a retro before she was locked out of echo (due to leaving the program)

[2017-01-09 19:12] jason00111 commented on #141
This error has been affecting my stats and possibly my level for weeks now.  Can someone fix it please? 😁

[2017-01-09 19:38] jrobcodes commented on #141
I don't remember the team name or cycle number or what my responses should have been at this point.  Just remove me from the group?

[2017-01-10 17:09] jason00111 opened #152 "Echo downtime"
Echo is down a lot.  Can the developers use a test site or something instead of working on the live site?  Surely it is not best practice to work on the live site.

[2017-01-10 17:17] heyheyjp commented on #152
The LOS development team doesn't do testing in the live/production environment. The underlying software for Echo (Rocket.chat) is simply unstable, and issues with image storage are causing the outages. Work to resolve these issues is underway.

[2017-01-10 17:40] jeffreywescott commented on #152
Hey, @jason00111. Sorry Echo has been so unstable; we're well aware of it. I can assure you that it has absolutely nothing to do with the way we're working, but instead is [a bug with the underlying MongoDB GridFS integration](https://github.com/RocketChat/Rocket.Chat/issues/3929).

We are looking at ways to isolate ourselves from the bug, and I'll try to keep this issue updated if and as we make

[2017-01-10 20:50] jason00111 commented on #152
Thanks for the clarification.  I shouldn't have assumed the reason for the downtime.  Thanks for your work.  A lot of us are relying on echo.

[2017-01-10 21:01] jeffreywescott commented on #152
**UPDATE:** Becauase the main usage of GridFS in Rocket.Chat is for storing avatars, we've (a) disabled GridFS for avatars, and (b) stopped automatically updating people's avatars with their GitHub avatar. What this means is that avatars are stored on the filesystem (which is ephemeral between redeploys of echo), so folks will have to re-update their avatar periodically within Rocket.Chat itself.

[2017-01-10 21:37] jeffreywescott commented on #147
So, for now (for unrelated reasons), echo (Rocket.Chat) is no longer synchronizing GitHub avatars.

Leaving this issue open, however, so we can track the feature of adding  avatars to people's profile.

[2017-01-11 21:10] heyheyjp commented on #152
This issue seems resolved by @jeffreywescott's latest changes. Closing.

[2017-01-11 21:10] #152 closed, assigned to nobody

[2017-01-11 21:11] heyheyjp commented on #151
@shereefb: We can run stats for this project, sure. Are you also asking for the spreadsheet to be regenerated for cycle 25?

[2017-01-19 19:12] engelgabriel commented on #152
@jeffreywescott
Are you using docker?
Why don't you make the /upload a mount point to the node do the files are not ephemeral?

[2017-01-19 19:24] jeffreywescott commented on #152
Thanks for the suggestion, @engelgabriel. Migrating everything to Docker is on our radar, but not currently a high priority.

[2017-01-27 01:23] lizzkats opened #153 "Graduation Date on game.learnersguild.org"
I have a suggestion for game.learnersguild.org- Where it says our join date we could have it calculate the estimated graduation date as well. I know this was a functionality we were looking for when moving to the rolling admissions model. :)

[2017-01-27 01:27] breyana opened #154 "It isn't clear that the player's name is clickable on game.learnersguild.org"
## Expected vs. Actual

Visited https://game.learnersguild.org/users and saw a list of names that showed only ELO and XP stats.

The formatting does not give clarity that the names can be clicked to lead to a more detailed page

### Steps to Reproduce

1. Visit https://game.learnersguild.org/users
2. View the list of names

Result:
There is no visual indication that the lines can be clicked

[2017-01-27 16:51] needdra opened #155 "Add Level to Project Details in Game UI"
### Expected vs. Actual

all relevant project data is easy to see in game UI

currently it's not apparent what level project a player is working on - or worked on in previous cycles.

Example:
Goal #39: Tarot Card Self Reflection Web App with React *[level 1]*

[2017-01-27 21:18] jeffreywescott commented on #155
This was just implemented and should be live within the hour.

[2017-01-27 21:18] #155 closed, assigned to nobody

[2017-01-27 21:51] bundacia commented on #141
@jason00111: you were on a team with @jrob8577 for cycle 23 ([wonderful-hartebeest](http://game.learnersguild.org/projects/wonderful-hartebeest)) and cycle 22 ([dependent-potoroo](http://game.learnersguild.org/projects/dependent-potoroo)). Can you confirm that you're talking about wonderful-hartebeest? Just want to make sure I don't delete the wrong responses.

[2017-01-28 00:34] arayi opened #156 "Bug collection: Stats and levels"
Experience: Does not reflect any objective measure having to do with growth. Suggest replacement with a tracking system for individual competencies, technical and non-technical.

Health stats: Should be directly actionable feedback about the individual's progress in these three areas. Instead is metadata about how well the team communicated around those stats. Should be a +/- vector based on how w

[2017-01-28 04:42] shereefb commented on #156
This comment is out of line. And does not belong in a technical issue.

Please only speak for others if you've taken permission from them to speak on their behalf. Otherwise, only speak for yourself. Learners are perfectly capable of speaking for themselves and don't need you to do it for them.

Feel free to re-file this when you have something more organized, specific, actionable and kind.

Closi

[2017-01-28 04:42] #156 closed, assigned to nobody

[2017-01-30 14:14] bundacia commented on #141
Ok, I've removed @jrob8577 from wonderful-hartebeest along with all of his responses and all of the rest of the team's responses about him. Any relative contribution attributed to @jrob8577 by his teammates has been split evenly between the remaining team members. Stats have been recalculated.

[2017-01-30 14:14] #141 closed, assigned to heyheyjp

[2017-01-30 18:26] arayi opened #157 "2x retro DM"
### Expected vs. Actual

Echo DMs retro twice each week

### Steps to Reproduce

Participate in any retro cycle

### Environment and Versions

Environment-agnostic issue

[2017-01-30 18:37] jeffreywescott commented on #101
Is there anything left to do here, or can we close this?

[2017-01-30 18:37] jeffreywescott commented on #138
@sdweber422 now that we have the stats UI, can we close this issue?

[2017-01-30 18:38] AbrahamFergie opened #158 "stats eval"
### Expected vs. Actual
<img width="1285" alt="screen shot 2017-01-30 at 10 23 00 am" src="https://cloud.githubusercontent.com/assets/15825329/22435801/56515878-e6d6-11e6-9369-4f8573a47dc3.png">

my partner had an elo of:  1000
my elo is: 975
if this could get looked at more closely, I wasn't sure if i got as much of a boost to my elo as i thought i should have gotten.

_What were you attempting t

[2017-01-30 18:38] jeffreywescott commented on #142
@teqnickels -- are you still having an issue with your stats? Can we close this issue now that the stats UI is available?

[2017-01-30 18:39] jeffreywescott commented on #151
Is anything more needed here?

[2017-01-30 18:39] jeffreywescott commented on #145
Is anything still needed here?

[2017-01-30 18:40] jeffreywescott commented on #158
I asked @AbrahamFergie to file this. Should his elo change only be 2 in this case? I found it surprising. /cc @shereefb

[2017-01-30 19:07] needdra commented on #145
looks like all stats are present now. thanks.

[2017-01-30 19:07] #145 closed, assigned to heyheyjp

[2017-01-30 19:36] shereefb opened #159 "Missing echo channel"
#cumbersome-shrew does not have its echo channel. Punit came and recruited us, and we can see our teams on the project list under the vote tab.

[2017-01-30 19:41] jeffreywescott commented on #159
Yes -- we are aware that this happened with the last PFA run. Not exactly sure why. Please create project channels manually.

[2017-01-30 19:42] mantinone commented on #159
Okay, I'll go ahead and make it manually.

[2017-01-30 19:42] jason00111 commented on #141
Thanks!

[2017-01-30 20:35] TheLady opened #160 "Confused about team name - I don't know where to find my individual team name"
### Expected vs. Actual

_I was trying to find my own team name so I could name my Github branch consistently. I only see a team (melted-springhare) with my name and Sal's so I am not sure I should use that name. The project name is Benchmark.

### Environment and Versions

_What versions of relevant external software were you using (browser, OS, etc.)?_

I am using Chrome on a Mac El Capitain

##

[2017-01-30 20:38] jeffreywescott commented on #160
As far as I can tell, [you are solo on this project](https://game.learnersguild.org/projects/melted-springhare).

[2017-01-30 20:38] #160 closed, assigned to nobody

[2017-01-30 20:41] TheLady commented on #160
Thanks Jeff, I know. I believe I need a name for my one-person team. Right now I have a name for a two-person team.

[2017-01-30 20:43] TheLady commented on #160
Okay, thanks. I only saw the spreadsheet that was posted in the Oakland channel on Echo before you sent the link.

[2017-01-30 20:43] jeffreywescott commented on #160
What I'm saying is that _that team is_ your one-person project. Try to Shift+Reload in your browser. Sal is _not_ on that team.

<img width="1145" alt="game" src="https://cloud.githubusercontent.com/assets/130597/22440736/adb78fe8-e6e9-11e6-8d13-738b176f6c6f.png">

[2017-01-30 21:03] TheLady commented on #160
I'm fine now - the link you sent me made it clear. I did not have a link to that page when I submitted the question, which is why I did not know that Sal had been removed from the team. The only information I had was a screenshot in the Oakland channel that showed the team and both of our names. Is there someplace else I should have looked for the page? Thanks again.

[2017-01-30 22:26] jeffreywescott commented on #160
You can always cruise around https://game.learnersguild.org as much as you'd like.

[2017-02-01 17:14] TheLady commented on #160
After about thirty minutes, "like" was exhausted :-). But on a serious note, I have been trying to limit my time searching for answers because it's been feeding into a loop that is increasingly triggering and time-consuming. I know that everyone is busy, so by the time I ask the question, I've already spent some time searching for the answers/solutions.  I try to ask for help before the loop pushe

[2017-02-03 04:18] #159 closed, assigned to nobody

[2017-02-03 17:11] jeffreywescott commented on #101
I'm closing this due to lack of response. Please reopen if further action is needed.

[2017-02-03 17:11] #101 closed, assigned to heyheyjp

[2017-02-03 17:12] jeffreywescott commented on #138
Closing this due to lack of response. Please reopen if further action is needed.

[2017-02-03 17:12] #138 closed, assigned to heyheyjp

[2017-02-03 17:12] jeffreywescott commented on #142
Closing this due to lack of response. Please reopen if further action is needed.

[2017-02-03 17:12] #142 closed, assigned to heyheyjp

[2017-02-03 17:12] jeffreywescott commented on #151
Closing this due to lack of response. Please reopen if further action is needed.

[2017-02-03 17:12] #151 closed, assigned to shereefb, heyheyjp

[2017-02-03 17:13] jeffreywescott commented on #158
bump @shereefb @tannerwelsh

[2017-02-03 22:14] shereefb commented on #158
lgtm

Use this calculator, use a k-factor of 20, a draw = 1 point, this was slightly better than a draw so 2 points
http://www.3dkingdoms.com/chess/elo.htm

[2017-02-03 22:14] #158 closed, assigned to nobody

[2017-02-06 18:29] needdra opened #161 "Stats incorrect/transposed for player contributions"
Somehow player contributions were reported incorrectly and the players just noticed.
Cycle 27 -
players: kousagi1012 & qweenwasabi
both players have confirmed that the contribution stats are transposed.

kousagi1012 should have 71%
queenwasabi should have 28.999999999999996%

[2017-02-06 20:12] TrevorJamesH opened #162 "My stats disappeared the day after they were updated."
My stats disappeared the day after they were updated. They appeared on Sunday, and were gone as of Monday.

Link to the project without stats:

https://game.learnersguild.org/projects/mighty-seal

[2017-02-06 20:19] heyheyjp commented on #161
@needdra: can you please provide the project name?

[2017-02-06 20:21] needdra commented on #161
#tightfisted-waterbuck

[2017-02-06 20:24] heyheyjp commented on #161
These names... 🙄  😂

[2017-02-06 20:24] heyheyjp commented on #162
Stats for your project have been recalculated. Should appear properly now.

[2017-02-06 20:24] #162 closed, assigned to heyheyjp

[2017-02-06 20:25] needdra commented on #161
no kidding. lol

[2017-02-06 20:29] heyheyjp commented on #161
@needdra: does this take into account the new logic for using the figures from the player with the highest bias stats? If I understand recent changes correctly, the system basically identifies the player on a team with the most "accurate" history of contribution estimation and uses only their scores.

[2017-02-06 20:30] needdra commented on #161
i'm not sure - we'd need to identify the cycle that change was made. my sense is that the change was effective at cycle 28 or 29.

however, the learners have said this was a reporting error so it would e unfortunate if the stats stayed the same bc queenwasabi is "more accurate"

[2017-02-06 20:32] jeffreywescott commented on #161
The change RE: estimation accuracy was a _retroactive_ change, so it doesn't matter which cycle it was.

[2017-02-06 20:32] needdra commented on #161
gotcha. thanks @jeffreywescott

[2017-02-06 21:31] heyheyjp commented on #161
@needdra: so these are jacky's contribution ratings. are you asking that the values be changed/that her retro be reopened so that she can change her answers?

[2017-02-06 22:02] needdra commented on #161
@prattsj yes. she made a mistake and it's impacting her partner negatively.

[2017-02-07 14:57] heyheyjp commented on #161
The retro survey for #tightfisted-waterbuck has been reopened for qweenwasabi.

[2017-02-07 14:57] #161 closed, assigned to heyheyjp

[2017-02-07 16:44] needdra opened #163 "investigate absent stats for @ameliavoncat"
team #statuesque=gerenuk
cycle 30

players: ameliavoncat & frankiefabuloso

i can see frankie's written feedback but no stats are visible for either player. amelia said she submitted a retro but it didn't have a ton of data bc she was out several days last week.

please investigate - will these players have stats for last week? do they need to resubmit retros?

[2017-02-07 19:18] jeffreywescott commented on #163
We had a bug with stats that has now been fixed. Stats should be there again.

[2017-02-07 19:18] #163 closed, assigned to nobody

[2017-02-08 00:29] punitrathore opened #164 "Reviews for teams in succession did not work as expected"
### Expected vs. Actual

I completed 2 reviews in succession on Monday. I gave a completeness & quality score of 40 & 50 to team `statuesque-gerenuk` and a score of 80 & 90 to team `cumbersome-shrew`. But it looks like the team `statuesque-gerenuk` ended up getting a score of 80 & 90, while the scores of `cumbersome-shrew` did not get saved.

Can you also please update the reviews scores for these

[2017-02-08 04:23] carlabagdonas opened #165 "Add "Levels" tab to Admin UI or make headers sortable"
### Expected vs. Actual

_In addition to being able to view stats by Player & by Project, it would be useful to view them by Level, to see at a glance who's where. I realize this data is available on the users tab, but since the headings aren't currently sortable, I can't get a picture all at once of who's where. So I guess, a different fix would be to make the column headers sortable (i.e. sort b

[2017-02-13 17:23] shereefb opened #166 "Re-open retrospective for materialistic-potoroo"

[2017-02-13 17:44] phoniks opened #167 "Voting choice rank problem."
<img width="406" alt="screen shot 2017-02-13 at 9 31 30 am" src="https://cloud.githubusercontent.com/assets/7213762/22894984/c0278bb0-f1cf-11e6-973a-3e4020acacce.png">

In the picture above, I voted for two goals, and they each have one vote a piece - my own votes.  Since my number one vote should get chosen first and my number two vote should be chosen second if the votes were finalized at this p

[2017-02-13 17:56] yaseenagag opened #168 "Fix the amount of hours for cycle 31 for @yaseenagag"
My handle is @yaseenagag

I need to correct my hours for cycle 31 from 25 to 10.  I missed one full day and two half days.  The correct hours are 10.

Please find listed below my info for cycle 31.

#122 [L1.2]: Blogetty-blog-blog: Make A Blog Site
Feb 6 - Feb 13 [cycle 31]
25 hours [team total: 35]
70% contribution

Team Name: elastic-bushbaby

[2017-02-13 18:27] jeffreywescott commented on #167
Hi, @phoniks. The little `1st` or `2nd` indicator on the goal line indicates your preference ordering. We currently don't do a "secondary" ordering on the sort based on user preference to handle the edge-case that you point out. But rest assured that, when the project-formation algorithm runs, it will take into account your preferences as indicated by the `1st` and `2nd` badges.

Sorry for the con

[2017-02-21 17:38] yaseenagag commented on #168
@jeffreywescott @bundacia can i get an update on this when possible?

[2017-02-21 18:26] bundacia commented on #168
@yaseenagag, I've re-opened your survey so you can go in and change your answer using `/retro`

[2017-02-21 18:26] #168 closed, assigned to nobody

[2017-02-21 18:28] bundacia commented on #164
@punitrathore: I believe that you can use the `/review` command to change your responses to a project review by just resubmitting it. Have you tried that?

[2017-02-21 18:38] bundacia commented on #164
Here's what we have in the logs for the `/review` command being used for those projects

[code]

[2017-02-21 18:38] #164 closed, assigned to nobody

[2017-02-21 18:39] bundacia commented on #166
@shereefb: re-open for which player? Both?

[2017-02-24 17:51] CoffeeMakesMorningsBetter opened #169 "careful-gaur cycle 32"
### Expected vs. Actual

_What were you attempting to do? What actually happened? Please provide your project name and/or the cycle number if applicable._

I don't believe my stats were properly recalculated from last week

First go around Eugene and I had different hours understandable (40/33) 40%/60% contribution, I lost 32 ELO

Yesterday the hours were rectified 40/40 with same contribution and

[2017-02-27 16:54] mantinone opened #170 "ELO shown as increasing by entire amount rather than difference. -bug"
## Expected vs. Actual

When looking at the stats page for #insidious_grebe, my ELO is 1049.  For the previous week, a solo project, #fluffy_mantis, it is shown as null.  For the week before that, #cumbersome_shrew, it is 1017.
The green numbers next to the stat that show how it has changed should show +32 for #fluffy_mantis.
Instead, it shows +1049.

### Steps to Reproduce

Simply view my stats p

[2017-02-27 17:37] yaseenagag opened #171 "Adjust my contribution for cycle 33 from 100% to 70% Data"
axiomatic-ringtail
State: COMPLETE
#176 [L1]: Core Vanilla Javascript [Team Drills & Practice]
Feb 21 - Feb 27 [cycle 33]
15 hours [team total: 15]
100% contribution

[2017-02-27 18:08] jeffreywescott commented on #171
@yaseenagag: please ask a moderator for help with this -- they now have a tool that let's them unlock a retrospective for you to modify.

[2017-02-27 18:08] #171 closed, assigned to nobody

[2017-02-27 18:12] jeffreywescott commented on #170
Hi, @mantinone ... that's a great catch! Thanks for the report.

[2017-02-27 18:14] jeffreywescott commented on #166
@shereefb -- you can now do this yourself through the UI on the project page by clicking the "unlock survey" button.

[2017-02-27 18:14] #166 closed, assigned to nobody

[2017-02-27 19:01] sdweber422 opened #172 "Voting: Placed on a solo project with team member"
### Expected vs. Actual

Team: #sweltering-bettong. Project #174 - Core Vanilla Javascript. Actually voted on two two-person goals and was given this project. This project is a solo project, but I have a team-member.
Expected: To be on solo project of team-size 1.
Actual: Placed on solo project of team-size 2.

### Steps to Reproduce

I cannot reproduce the bug.

### Environment and Versions

Used

[2017-02-27 19:07] sdweber422 commented on #172
Issue resolved. Wrong team popped up. Actual team in list of channels.

[2017-02-27 19:07] #172 closed, assigned to nobody

[2017-03-02 19:21] helenyau0 opened #173 "Retro from last week is not updating stats nor is it allowing me to submit"
### Expected vs. Actual

_What were you attempting to do? What actually happened? Please provide your project name and/or the cycle number if applicable._

I have tried countless times submitting in my retro from last week but the data never gets saved. It shows in our project channel the retro has been 2/2 completed for #axiomatic-ringtail, however neither my partner's stats or mine got updated.

[2017-03-02 23:56] heyheyjp commented on #173
@helenyau0: can you further explain what happens when your submission fails to save? Is there an error/message? Does the form complete as normal but fail to reflect those updated values upon revisiting? Please provide as much detail as possible (screenshots are extremely helpful).

Thanks!

[2017-03-03 00:01] jeffreywescott commented on #170
@mantinone -- a fix for this will be deployed in the next 15 minutes or so. Thanks again for the report.

[2017-03-03 00:01] #170 closed, assigned to nobody

[2017-03-03 00:21] helenyau0 commented on #173
@prattsj I don't know if it's a bug but I can still access last week's retro even after I have submitted it. It's able to save my last inputs, but every time I submit the retro it never goes through and saves to the database. In the first screenshot you can see that the form completes as normal; I get a message "you're all done!" and I can click close to exit, but when I go to check my stats it ne

[2017-03-03 02:57] heyheyjp commented on #173
@helenyau0: it appears that in the survey you indicated that you took off/were absent for 31 hours during the course of the project. Is that correct? It is because of this answer that the system considers you to be an inactive member of the project and therefore excludes your retro responses from consideration when updating stats. If this is incorrect (note that the wording has _changed_ from a pr

[2017-03-03 02:57] #173 closed, assigned to nobody

[2017-03-03 15:56] jeffreywescott commented on #169
@CoffeeMakesMorningsBetter Elo points are awarded based on _effectiveness_. That is, for each hour you worked, how much of the overall project's contribution was a result of that hour. So, if you report _lower_ hours, Elo can potentially go up.

There is also what we call a "scaling factor". The scaling factor basically says that a 66.67% to 33.33% contirbution to be "the same as" a 100% to 0% con

[2017-03-03 15:56] #169 closed, assigned to shereefb

[2017-03-06 17:52] jeffreywescott commented on #157
We've moved away from DMs for stats.

[2017-03-06 17:52] #157 closed, assigned to nobody

[2017-03-06 17:53] jeffreywescott commented on #123
@shereefb / @tannerwelsh -- would you please close this once you've decided whether or not to integrate this feedback into the mechanics?

[2017-03-06 17:54] jeffreywescott commented on #119
The notion of "in the red" has completely changed.

[2017-03-06 17:54] #119 closed, assigned to nobody

[2017-03-06 17:55] jeffreywescott commented on #118
Fair point. The algorithm that creates projects is definitely imperfect. I'm not sure how we can address this. Best suggestion at this point: if you get put on a project twice, ask a moderator if you can change the goal.

[2017-03-06 17:55] #118 closed, assigned to nobody

[2017-03-06 17:56] jeffreywescott commented on #112
@Moniarchy -- going to close this now that Review Accuracy and RXP are being rolled out: https://playbook.learnersguild.org/Game_Manual/Stats.html#project-review-stats

[2017-03-06 17:56] #112 closed, assigned to nobody

[2017-03-06 17:57] jeffreywescott commented on #115
@shereefb / @tannerwelsh: please close this once you've decided whether or not to integrate it.

[2017-03-06 17:57] jeffreywescott commented on #110
@EthanJStark -- because the team play stuff has been removed, I'm going to close this.

[2017-03-06 17:57] #110 closed, assigned to nobody

[2017-03-06 17:58] jeffreywescott commented on #108
@tannerwelsh / @shereefb: please close this once you've decided whether or not to integrate it.

[2017-03-06 18:00] jeffreywescott commented on #85
This has been fixed.

[2017-03-06 18:00] #85 closed, assigned to nobody

[2017-03-06 18:01] #82 closed, assigned to nobody

[2017-03-06 18:01] jeffreywescott commented on #79
RXP / Review Accuracy to the rescue!

[2017-03-06 18:01] #79 closed, assigned to nobody

[2017-03-06 18:01] jeffreywescott commented on #78
Prrrrrr to the rescue!

[2017-03-06 18:01] #78 closed, assigned to nobody

[2017-03-06 18:02] jeffreywescott commented on #69
I believe this is being addressed by RXP / Review Accuracy.

[2017-03-06 18:02] #69 closed, assigned to nobody

[2017-03-06 18:03] jeffreywescott commented on #60
SEPs don't do contribution anymore. Closing.

[2017-03-06 18:03] #60 closed, assigned to nobody

[2017-03-06 18:03] #59 closed, assigned to nobody

[2017-03-06 18:03] jeffreywescott commented on #58
Handled by RXP / Review Accuracy.

[2017-03-06 18:03] #58 closed, assigned to nobody

[2017-03-06 18:04] jeffreywescott commented on #56
Now handled by the UI.

[2017-03-06 18:04] #56 closed, assigned to nobody

[2017-03-06 18:05] jeffreywescott commented on #55
Reviews now stay open until 3 days since the last review.

[2017-03-06 18:05] #55 closed, assigned to nobody

[2017-03-06 18:05] jeffreywescott commented on #50
RXP / Review Accuracy should improve this. Closing.

[2017-03-06 18:05] #50 closed, assigned to nobody

[2017-03-06 18:06] jeffreywescott commented on #39
This is now available in the UI.

[2017-03-06 18:06] #39 closed, assigned to nobody

[2017-03-07 14:21] tannerwelsh commented on #108
Given that we no longer have the 3 health stats, going to close this for now.

[2017-03-07 14:21] #108 closed, assigned to nobody

[2017-03-07 14:23] tannerwelsh commented on #123
This would be solved by https://app.clubhouse.io/learnersguild/story/47/players-can-choose-not-to-answer-relative-contribution-questions-in-retrospectives. Tracking in clubhouse, going to close here. Thanks @nodatall!

[2017-03-07 14:23] #123 closed, assigned to nobody

[2017-03-07 14:25] tannerwelsh commented on #115
Moved to clubhouse here: https://app.clubhouse.io/learnersguild/story/1398/reframe-free-response-question-in-retro. Thanks @EthanJStark!

[2017-03-07 14:25] #115 closed, assigned to nobody

[2017-03-07 22:07] shereefb commented on #64
love this idea. Moving it to clubhouse.

[2017-03-07 22:07] #64 closed, assigned to nobody

[2017-03-07 22:21] shereefb commented on #94
Great idea. We won't get to it for another year or so :/ Closing.

[2017-03-07 22:21] #94 closed, assigned to nobody

[2017-03-07 22:21] shereefb commented on #91
That's level 5.

[2017-03-07 22:21] #91 closed, assigned to nobody

[2017-03-10 00:42] needdra opened #174 "Clarify missing ELO stat for @silentsoundsz"
### Expected vs. Actual

_Expected to see 1000 ELO for Stephanie McGrath/silentsoundz. Her first cycle was C33. She worked on 2 solo projects:
#zonked-gazelle C33
#natural-grison C34
If seeded w/ 1000 ELO then that stat should be visible in the UI but it isn't on my end.

Is this an error?

[2017-03-11 06:48] jeffreywescott commented on #174
We are tracking this bug already. Basically, it's an annoying rendering bug due to the fact that solo projects don't affect Elo or XP, they don't get rendered properly because of the way the data gets passed from the server to the client. I'll leave this bug open until we address it.

[2017-03-13 19:04] ghost opened #175 "Add user photos to https://game.learnersguild.org/users"
This is a suggestion and not for a bug.  I propose adding our Echo photos to this page: https://game.learnersguild.org/users

That way we can easily see each others' name, username, and photo in one place digitally.  Several folks have expressed a desire to have a digital version of the photo board.  I don't know if this data already exists in Echo, but Level (or start month), House, Github might

[2017-03-16 15:20] jeffreywescott commented on #175
Duplicate of #148.

[2017-03-16 15:20] #175 closed, assigned to nobody

[2017-03-20 18:30] mistakeets opened #176 "Clarify Stat Totals on game.learnersguild.org"
### Expected vs. Actual

For the past week project (cycle 36) my estimation accuracy for the project was 100% with a bias of 0%, therefore I expected my total average estimation accuracy to go up. Instead it went down by 12, and in the total section it shows 30.83% percent. A similar issue also happened during cycle 34.

Based on this issue, it also appears that my estimation accuracy did not incr

[2017-04-03 16:14] lumodon commented on #176
## Problem
I am experiencing the same problem. My numbers are the following:
## Expected vs. Actual
cycle 33: Est. Accuracy: 78%, 91.17%
cycle 34: Est. Accuracy: - - (solo project)
cycle 35: Est. Accuracy: 80% 72.5%
cycle 36: Est. Accuracy: - - (solo project)
cycle 37: Est. Accuracy: 89% 56.67%

## Description
I do believe that solo projects are being counted as 0% and potentially being counted fo

[2017-04-04 22:35] breyana opened #177 "Players lose ELO when third team member is added to team of two"
### Expected vs. Actual

I noticed this issue when analyzing my ELO progression and noticing large drops when I'm placed into a team that has had a 3rd member added onto it. In teams of three even with greater than expected 1/3 contribution, my ELO had fallen.

My theory is that the ELO calculation is expecting 50% contribution instead of roughly 33% contribution.

Projects Effected:
https://game.

[2017-04-05 00:10] vbrazelton916 opened #178 "Can not sign in to Echo from the play book error sign-up is by invitation only right now."
### Expected vs. Actual

Expected to log into Echo from the playbook  vs Receive a error message to sign-up is by invitation only right now.

_What were you attempting to do?
When clicking on the link to sign in to Echo from the Playbook it provides an error message that that it is by invite only
What actually happened? Please provide your project name and/or the cycle number if applicable._
When

[2017-04-05 16:30] jeffreywescott commented on #178
Hi, @vbrazelton916. What is the exact link that it is in the playbook that you're referring to? I see this one (https://echo.learnersguild.org/) on this page (https://playbook.learnersguild.org/Game_Manual/Echo.html). Is that what you mean?

Echo sign-up _is_ invite only, and the invitation comes as part of the welcome email during on-boarding. Once you've signed-up with your invite code, you shou

[2017-04-05 18:06] lumodon opened #179 "Accuracy decreases when completing solo projects"
## Expected vs. Actual
### Expected:
I expect solo projects to not modify, up or down, my accuracy
### Actual:
After completing a project following a solo project, my total accuracy went down even though my project accuracy went up. This implies that my total somehow decreased previously, my best guess is that the solo project counted an invisible decrease in accuracy.

## Steps to Reproduce
1. No

[2017-04-07 19:09] needdra opened #180 "possible bug - retro not displaying in admin UI"
#Shaky-Vulture
Cycle 36
jnware7 appears not to have completed the retro but we checked and the system isn't reporting any pending retros. his partner did not enter 100% completion for herself but the system is reporting that as her entry.

[2017-04-07 19:35] needdra commented on #180
actually - i'm seeing the same thing across a two other projects. The learners report submitting their retros. The system says they have no pending retros, but the stats are not visible in the UI.

This is true for:
brawny-frogmouth
State: COMPLETE
#196: Dive Into UNIX and Bash
Mar 13 - Mar 20 [cycle 35]

capricious-hoopoe
State: COMPLETE
#69 [L1]: Simple Book Store
Mar 27 - Apr 3 [cycle 37]

[2017-04-07 21:45] heyheyjp commented on #180
Definitely was a bug. There was a little bit of cleanup that wasn't caught for a question removed from a previous version of the retro survey. Fix has been applied, and anyone who couldn't access their retros but should have been able to should now be good to go.

[2017-04-07 21:45] #180 closed, assigned to nobody

[2017-04-10 22:20] jeffreywescott commented on #178
Closing (no response).

[2017-04-10 22:21] #178 closed, assigned to nobody

[2017-04-11 23:16] needdra opened #181 "investigate possible retro bug in ahead-chuckwalla C38"
ahead-chuckwalla
State: COMPLETE
#93 [L1]: Build Your Own Bootstrap
Apr 3 - Apr 10 [cycle 38]

i added John Ware (johnware15) to the group - team size 2 - making it a team size 3. he's been unable to submit a retro and i think it may be because of the team size. at any rate, none of the learners on the team can see their retro data and john was not able to submit his contribution - the slider wasn

[2017-04-12 18:25] bundacia commented on #181
ok, it looks like that for that project the third player was added after the retrospective survey was created. So that player isn’t listed in the survey questions and the logic around how many people need to complete the survey got confused.

Best case scenario they’ll all have to complete the retro again. But I’ll have to do a but of fixing up the data manually first.

[2017-04-12 18:34] bundacia commented on #181
@needdra: The survey has been fixed to include the third player. They will all three have to re-submit the retro with the new set of questions.

[2017-04-12 18:34] #181 closed, assigned to nobody

[2017-04-12 18:36] bundacia commented on #181
Created a story in clubhouse to make sure the UI prevents this in the future.

https://app.clubhouse.io/learnersguild/story/2067/changing-teams-after-reflection-starts-breaks-retros

[2017-04-13 19:27] #26 closed, assigned to nobody

[2017-04-13 19:27] #27 closed, assigned to nobody

[2017-04-13 19:27] #34 closed, assigned to nobody

[2017-04-13 19:27] #150 closed, assigned to nobody

[2017-04-13 19:28] #174 closed, assigned to nobody

[2017-04-13 19:40] jeffreywescott commented on #167
I've pulled this suggestion into our list to be considered.

[2017-04-13 19:40] #167 closed, assigned to nobody

[2017-04-13 20:21] jeffreywescott commented on #165
Tracked here: https://app.clubhouse.io/learnersguild/story/396/tables-should-be-sortable-in-the-admin-ui

[2017-04-13 20:21] #165 closed, assigned to nobody

[2017-04-13 20:23] jeffreywescott commented on #154
Thanks for this report -- we've pulled this into our Kanban board to prioritize.

[2017-04-13 20:23] #154 closed, assigned to nobody

[2017-04-13 20:23] jeffreywescott commented on #153
Thanks for this suggestion. I've pulled this into our Kanban system to prioritize.

[2017-04-13 20:23] #153 closed, assigned to nobody

[2017-04-13 20:24] jeffreywescott commented on #149
Tracked here: https://app.clubhouse.io/learnersguild/story/396/tables-should-be-sortable-in-the-admin-ui

[2017-04-13 20:24] #149 closed, assigned to nobody

[2017-04-13 20:25] jeffreywescott commented on #148
Tracked here: https://app.clubhouse.io/learnersguild/story/2094/add-avatars-to-projects-and-users-lists

[2017-04-13 20:25] #148 closed, assigned to nobody

[2017-04-13 20:25] #35 closed, assigned to nobody

[2017-04-13 20:25] #68 closed, assigned to nobody

[2017-04-13 20:25] #143 closed, assigned to nobody

[2017-04-13 20:25] #147 closed, assigned to nobody

[2017-04-13 20:25] #44 closed, assigned to nobody

[2017-04-13 20:26] jeffreywescott commented on #49
Tracked here: https://app.clubhouse.io/learnersguild/story/2089/votes-should-be-secondarily-sorted-by-rank

[2017-04-13 20:26] #49 closed, assigned to nobody

[2017-04-13 20:26] #38 closed, assigned to nobody

[2017-04-13 20:27] jeffreywescott commented on #125
Tracked here: https://app.clubhouse.io/learnersguild/story/2095/oauth-permissions-are-too-strict

[2017-04-13 20:27] #125 closed, assigned to nobody

[2017-04-13 20:28] jeffreywescott commented on #40
Tracked here: https://app.clubhouse.io/learnersguild/story/2096/reverse-the-order-of-cycle-end-start-announcements

[2017-04-13 20:28] #40 closed, assigned to nobody

[2017-04-13 20:28] jeffreywescott commented on #42
Tracked here: https://app.clubhouse.io/learnersguild/story/2097/changing-goal-issue-name-during-voting-splits-votes

[2017-04-13 20:28] #42 closed, assigned to nobody

[2017-04-13 20:29] jeffreywescott commented on #57
Project channels are dead!

[2017-04-13 20:29] #57 closed, assigned to nobody

[2017-04-13 20:30] jeffreywescott commented on #76
Tracked here: https://app.clubhouse.io/learnersguild/story/2099/stricter-full-name-validation-for-player-profiles

[2017-04-13 20:30] #76 closed, assigned to nobody

[2017-04-13 20:31] jeffreywescott commented on #83
Tracked here: https://app.clubhouse.io/learnersguild/story/2100/project-repos-in-guildcrafts-org

[2017-04-13 20:31] #83 closed, assigned to nobody

[2017-04-13 20:32] jeffreywescott commented on #88
This has been _mostly_ addressed by the UI. Please break-out additional suggestions into individual stories for "user benefits" rather than one big "build a UI" issue.

[2017-04-13 20:32] #88 closed, assigned to nobody

[2017-04-13 20:33] jeffreywescott commented on #90
Tracked here: https://app.clubhouse.io/learnersguild/story/2102/consider-letting-teams-pick-their-own-project-names

[2017-04-13 20:33] #90 closed, assigned to nobody

[2017-04-13 20:33] jeffreywescott commented on #95
Tracked here: https://app.clubhouse.io/learnersguild/story/2103/add-field-to-user-profile-for-preferred-gender-pronouns

[2017-04-13 20:33] #95 closed, assigned to nobody

[2017-04-13 20:33] jeffreywescott commented on #105
No longer relevant.

[2017-04-13 20:33] #105 closed, assigned to nobody

[2017-04-13 20:34] jeffreywescott commented on #107
No longer relevant.

[2017-04-13 20:34] #107 closed, assigned to nobody

[2017-04-13 20:35] jeffreywescott commented on #176
We are looking into this.

[2017-04-13 20:35] jeffreywescott commented on #177
We are looking into this.

[2017-04-13 20:35] jeffreywescott commented on #179
We are looking into this.

[2017-04-13 20:54] bundacia opened #182 "Estimation accuracy not computed correctly when one player did no work"
From Ethan:

Hi support team! Cycle 37, #public-bushbuck, my partner was out the entire week, and I marked 100% contribution . . . which took my accuracy down enormously and knocked me down to Level 1. If someone could help me correct this, that'd be awesome. Thanks!

[Clubhouse Ticket already created](https://app.clubhouse.io/learnersguild/story/2107/estimation-accuracy-not-computed-correctly-whe

[2017-04-13 20:54] bundacia commented on #182
cc: @ethanjstark

[2017-04-14 22:56] Moniarchy opened #183 "Discrepancy in expected estimation accuracy"
### Expected vs. Actual

During cycle 33, where my project estimation accuracy was 99%, my total accuracy nevertheless dropped 64.42 points to 30.83%.
<img width="879" alt="screen shot 2017-04-14 at 3 49 10 pm" src="https://cloud.githubusercontent.com/assets/18104615/25058002/22a1dea6-212a-11e7-8f54-6f4eb7927fa0.png">

Since then, though my estimation accuracy has increased weekly, my current accu

[2017-04-14 23:05] mantinone commented on #183
I wanted to note, I've seen this bug as well.  Total Accuracy seems to drop sharply after weeks where I was on a solo project.

[2017-04-17 18:36] sashajustice opened #184 "Stats need to be updated"
### Expected vs. Actual

 I had my retro stats updated last week and it's not reflecting the change.  The group is #scrawny-Currasow.
_What were you attempting to do? What actually happened? Please provide your project name and/or the cycle number if applicable._

Cycle 38

### Steps to Reproduce

_How can you reproduce the bug? Include as much detail as you can._

### Environment and Versions

_W

[2017-04-18 00:56] jeffreywescott commented on #176
This should now be fixed.

[2017-04-18 00:56] #176 closed, assigned to nobody

[2017-04-18 00:56] jeffreywescott commented on #179
This has been fixed!

[2017-04-18 00:56] #179 closed, assigned to nobody

[2017-04-18 00:57] jeffreywescott commented on #182
This has been fixed.

[2017-04-18 00:57] #182 closed, assigned to nobody

[2017-04-18 00:57] jeffreywescott commented on #183
This has been fixed.

[2017-04-18 00:57] #183 closed, assigned to nobody

[2017-04-18 00:58] jeffreywescott commented on #184
Hi, @sashajustice -- we just re-computed everyone's stats, so hopefully the change is reflected now. Please let us know if that's not the case by reopening this issue.

[2017-04-18 00:58] #184 closed, assigned to nobody

[2017-05-02 18:58] jeffreywescott opened #185 "testing 1 2 3"
does this make it into Clubhouse?

[2017-05-02 19:04] jeffreywescott commented on #185
Yes!

[2017-05-02 19:04] #185 closed, assigned to nobody

[2017-05-05 21:16] breyana commented on #177
@jeffreywescott Updated the issue with a little more clarity. It seems alright for team-size 3 goals, but seems broken for team size 2 goals that have a 3rd member added.

Can this be retroactively fixed?

[2017-05-12 23:04] Briy710 opened #186 "Stats Review--est. Bias/Accuracy"
<img width="802" alt="screen shot 2017-05-12 at 3 30 11 pm" src="https://cloud.githubusercontent.com/assets/26014707/26019706/67b70530-372c-11e7-987b-52b4eec41bc4.png">

I need some help understanding why my est. bias went down so much when I have 100% est accuracy?

[2017-05-13 19:27] jeffreywescott commented on #186
@Briy710, I'm not sure I understand your question.

Estimation _bias_ is a positive or negative number representing how much you tend to either _overestimate_ or _underestimate_ your own contribution. So, if your estimation accuracy goes up, you should _expect_ the absolute value of your estimation bias to go _down_. More here: https://playbook.learnersguild.org/Game_Manual/Stats.html#estimation-b

[2017-05-13 19:29] heyheyjp commented on #186
@jeffreywescott: the problem here is that this change in overall estimation bias is colored red, indicating that it a _bad_ change.

[2017-05-14 02:18] Maighdlyn opened #187 "XP.v2 score not showing"
### Expected vs. Actual
project name: questionable-rabbit
cycle#: 42
My 'XP.v2' and 'XP.v2 Pace' scores are still not showing up and my state is still showing "REVIEW" on my cycle 42 project which was completed over a week ago.

### Steps to Reproduce
It's always what happens when I look at my stats. I've been checking on it throughout the week and it's always the same.

### Environment and Versio

[2017-05-15 13:08] bundacia commented on #187
@Maighdlyn, first off, thank you for such a well written-bug report! Screenshots and everything. I love it.

The reason you're not seeing XP.v2 yet is that you're project is still in the `REVIEW` state. That means that the system is waiting for your coach to review your project before calculating XP.v2. The reason we have to wait for the coach's review is that the XP.v2 you earn depends on the pro

[2017-05-15 13:08] #187 closed, assigned to nobody

[2017-05-15 14:12] bundacia commented on #186
Ahh, that makes sense. We have logic that's indented to use the right color based whether the change got you closer or farther away from the "target" value (0 in this case), but there must be a bug.

[2017-05-15 14:18] bundacia commented on #186
Oh, wait. This *was* a "bad" change. @Briy710's estimation bias went from positive 1.83 to negative 2.5. So in the end the change took it slightly further away from zero.

[2017-05-15 14:59] jeffreywescott commented on #186
@bundacia: isn't POSITIVE estimation accuracy OVERestimating? In any case, I think it's neither red NOR green for bias -- bias is bias, whether you're over- or underestimating.

[2017-05-15 15:21] heyheyjp commented on #186
There seems to be a bigger question we should be asking.

These days, everyone is either working on solo or 2-person projects. In this case, we have a 2-person team, but that seems to only make estimation accuracy _barely_ more applicable than on a 1-person team (on which it isn't applicable at all); it's just a matter of one person's opinion vs. another's, with the outcomes of only very few other

[2017-05-15 15:32] heyheyjp commented on #186
@bundacia: ah, I see. Thanks for that clarification. It seems awkward though that what we show is the total difference. _If_ the *accuracy stats are gonna stick around (and as I've mentioned above, I'm not convinced they should), maybe we should instead be showing only the difference in, er, differences (i.e. instead of showing `↓ 4.33` for a swing from `-1.83` to `2.5`, show the change in absolut

[2017-05-15 15:40] bundacia commented on #186
@jeffreywescott: yes, I was just pointing out the the absolute value of the bias increased here. So @Briy710 went from a small overestimation bias to a slightly larger underestimation bias. In other words, their bias was farther from 0 as a result of this change, so that's why the delta is red.

@prattsj: I agree that there's probably a better way to display this data that's more about abolute val

[2017-05-15 16:15] Moniarchy commented on #187
Sorry for my negligence. I'm reviewing the rest of my projects right now. :)

[2017-05-16 01:04] jaredatron opened #188 "getting artifact reminder despite my artifact being set"
filing this on behalf of @self-jw

I just checked https://game.learnersguild.org/projects/normal-reedbuck and the artifact is set but a reminder was sent this morning.

[2017-05-24 23:05] Achant opened #189 "My last week project results are not showing yet."
I didn't get my results yet for ceaseless-llama on project 256 unit 2. but my partner did get that.
do you have any clues or ideas about that?

gist repo link:
https://gist.github.com/hhhhhaaaa/68d5908d7b06793dd89801a3f21e6126

thank you

[2017-05-26 22:26] jrpool opened #190 "Responsiveness bug on user page"
### Expected vs. Actual

Expected my statistics to be labeled correctly, i.e. with a label and what it labels aligned.

Actually, it is correct at some window widths but shifted at others, so labels wind up labeling the wrong statistics. See examples of correct and incorrect layouts.

### Steps to Reproduce

Go to a user’s page, scroll to the top, and vary the window width.

### Environment and Ve

[2017-06-05 17:43] lisabronwyn opened #191 "Offensive Team Names Assigned By Algorithms"
### Expected vs. Actual

Learners shouldn't receive offensive team names (for their weekly projects) via the algorithm.

This week I was assigned to the "obese-mara" goal and another learner mentioned that they were assigned to team 'alcoholic-lark'.

[2017-06-05 18:30] jason00111 commented on #191
Here are some I've been assigned:
arrogant
deceitful
fumbling
ugly
chunky

[2017-06-22 22:28] mKleinCreative commented on #191
Jobless is another one

[2017-06-23 11:43] bundacia commented on #191
oof, sorry folks. We use a npm library for generating random names, which we tweaked to try to filter out awful ones. Apparently we missed some. ☹️

[2017-06-23 13:41] bundacia commented on #191
ok, I've added those words to the filter. For reference, the package we use for generating team names is [animal-id](https://www.npmjs.com/package/animal-id). And then we explicitly filter out the following:

[code]

Let me know if anything else creepy comes up that we missed.

[2017-06-23 13:41] #191 closed, assigned to bundacia

[2017-07-05 18:07] Maighdlyn opened #192 "echo channel 413"
I'm in phase 2 so I did not vote for any goals this week.
Echo created channel 413 and added me to that channel this morning. I see many other members of channel 413 who I also recognize from being in phase 2, though I'm not sure if everyone in the channel is in phase 2.

[2017-07-05 18:11] heyheyjp commented on #192
Thanks, @Maighdlyn. The issue here is that you were accidentally invited to a goal channel for an auto-managed project. Your "project" for the week is simply working on Phase 2 modules, and goal 413 is the correct "goal" for that project. But this project tracking is supposed to happen completely in the background while you're in Phase 2, so there's a bug where the system invited you to a goal cha

[2017-07-05 18:12] heyheyjp commented on #192
Issue moved to [LearnersGuild/echo #906](https://github.com/LearnersGuild/echo/issues/906) via [**ZenHub**](https://www.zenhub.com/)

[2017-07-05 18:12] #192 closed, assigned to nobody

[2017-07-10 19:00] #189 closed, assigned to nobody

[2017-07-10 19:00] heyheyjp commented on #188
Fixed.

[2017-07-10 19:00] #188 closed, assigned to nobody

[2017-07-10 19:00] heyheyjp commented on #186
No longer relevant.

[2017-07-10 19:00] #186 closed, assigned to nobody

[2017-07-10 19:01] heyheyjp commented on #177
No longer relevant.

[2017-07-10 19:01] #177 closed, assigned to nobody

[2017-07-10 19:01] heyheyjp commented on #190
No longer relevant.

[2017-07-10 19:01] #190 closed, assigned to nobody